<div id="donate" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox horizontal center">
          Donate<span class="heart">&#xf004;</span>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Support AnyKey's mission<br>with your donation
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>As a non-profit initiative AnyKey relies on funding from donors to achieve our mission. Our status as a charitable 501c3 organization means that your donation will be both tax deductible and transparent.</p>
          <p>Your continued support is what keeps us going. We truly appreciate each and every bit.</p>
        </div>
        <%= image_tag("/images/donate-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  
  
  <div id="donation-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox horizontal center wrap justify-space-around">
          <div class="flexbox vertical start">
            <div class="section-title">Thank you for contributing</div>
            <div class="text-section flexbox vertical flex-1">
              <p>About donation.</p>
            </div>
          </div>
          <div class="amounts-section flexbox horizontal wrap justify-space-between">            
            <%= link_to("$5", "", class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Donate', 'event_label': '$5'});")%>
            <%= link_to("$10", "", class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Donate', 'event_label': '$10'});")%>
            <%= link_to("$25", "", class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Donate', 'event_label': '$25'});")%>
            <%= link_to("$100", "", class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Donate', 'event_label': '$100'});")%>
            <%= link_to("Custom $", "", class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Donate', 'event_label': '$Custom'});")%>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
</div>