<form action="<%= pledges_path(ref: params[:ref]) %>#new_pledge" id="new_pledge" method="POST" enctype="multipart/form-data" class="pledge-form flexbox vertical stretch">
  <div style="hidden">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <div class="item flexbox vertical start">
    <label for="first_name" class="text-field"><%= t(".first-name") %></label>
    <input id="pledge_first_name" name="pledge[first_name]" class="text-field" type="text" value="<%= @pledge.first_name %>" autocomplete="off" placeholder="Bjorn" tabindex="1">
  </div>
  <div class="item flexbox vertical start">
    <label for="first_name" class="text-field"><%= t(".last-name") %></label>
    <input id="pledge_last_name" name="pledge[last_name]" class="text-field" type="text" value="<%= @pledge.last_name %>" autocomplete="off" placeholder="Disway" tabindex="2">
  </div>
  <div class="item flexbox vertical start">
    <label for="first_name" class="text-field"><%= t(".email-address") %></label>
    <input id="pledge_email" name="pledge[email]" class="text-field" type="text" value="<%= @pledge.email %>" autocomplete="off" placeholder="bjorn@anykey.org" tabindex="3">
  </div>
  <%= display_alerts %>
  <input id="pledge_submit" name="commit" type="submit" class="button" value="<%= t(".button") %>" tabindex="4" onClick="gtag('event', 'ButtonClick', {'event_category': 'Pledge', 'event_label': 'FormSubmit'});" data-disable-with="Pledging">
</form>