<hr class="spacer">
<div class="pledge-item flush-top flexbox vertical stretch flex-1">
  <div class="item-title large flexbox horizontal center">
    <span class="icon">&#xf109;</span> Pledger Device Details
  </div>
  <% unless @pledge.ahoy_visit.present? %>
  <div class="item-text large empty">
    No device details available for this pledge.
  </div>
  <% end %>
</div>
<% if @pledge.ahoy_visit.present? %>
<div class="flexbox horizontal end wrap justify-space-between">
  <div class="pledge-item half-width flexbox vertical stretch">
    <div class="item-title">IP Address</div>
    <div class="item-text"><%= @pledge.ahoy_visit.ip %></div>
  </div>
  <div class="pledge-item half-width flexbox vertical stretch">
    <div class="item-title">Browser</div>
    <div class="item-text"><%= @pledge.ahoy_visit.browser %></div>
  </div>
  <div class="pledge-item half-width flexbox vertical stretch">
    <div class="item-title">OS</div>
    <div class="item-text"><%= @pledge.ahoy_visit.os %></div>
  </div>
  <div class="pledge-item half-width flexbox vertical stretch">
    <div class="item-title">Device Type</div>
    <div class="item-text"><%= @pledge.ahoy_visit.device_type %></div>
  </div>
  <div class="pledge-item flexbox vertical stretch">
    <div class="item-title">User Agent</div>
    <div class="item-text small"><%= @pledge.ahoy_visit.user_agent %></div>
  </div>
</div>
<% end %>
