<div class="twitch-instructions flexbox vertical stretch">
  <strong>Equipping your badge on Twitch:</strong>
  <ol>
    <li><%= t('.text-a') %></li>
    <li><%= t('.text-b') %></li>
    <li><%= t('.text-c') %></li>
    <li><%= t('.text-d') %></li>
  </ol>
  <div class="flexbox vertical center">
    <%= image_tag("/images/badge-equip.gif") %>
  </div>
</div>