<div id="pledge" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">    
      <div id="tapestry">
        <div class="title-line-a">
          glhf
        </div>
        <div class="title-line-b">
          PLEDGE
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        <%= t(".headline").html_safe %>
      </div>  
      <div class="flexbox horizontal center wrap-reverse justify-space-around">    
        <div class="half-width flexbox vertical flex-1">
          <p><%= t(".intro-paragraph-a") %></p>
          <p><%= t(".intro-paragraph-b") %></p>
          <p><%= t(".intro-paragraph-c") %></p>
        </div>
        <div class="trailer-video flexbox vertical flex-1">
          <div class="framed-element">
            <div class="embed-wrapper">
              <iframe src="https://www.youtube.com/embed/tvbBQPOJF7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="glhf-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
        
          <div class="flexbox horizontal wrap center justify-space-around">
            <div class="half-width flexbox vertical start">
              <div class="section-title"><%= t(".glhf-title") %></div>
              <div class="promise-list">
                <div class="promise flexbox horizontal center">
                  <div class="number">1</div>
                  <div class="text"><%= t(".glhf-promise-1") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">2</div>
                  <div class="text"><%= t(".glhf-promise-2") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">3</div>
                  <div class="text"><%= t(".glhf-promise-3") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">4</div>
                  <div class="text"><%= t(".glhf-promise-4") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">5</div>
                  <div class="text"><%= t(".glhf-promise-5") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">6</div>
                  <div class="text"><%= t(".glhf-promise-6") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">7</div>
                  <div class="text"><%= t(".glhf-promise-7") %></div>
                </div>
              </div>
            </div>
            <div class="flexbox vertical start">
              <%= render(partial: "pledges/form") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <%= image_tag("/images/anykey-cap-512.svg", size: "256x256") %>
    </div>  
  </div>
  
</div>  
