<div id="pledge" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical">
      <div id="tapestry">
        <div class="title-line-a">
          glhf
        </div>
        <div class="title-line-b">
          PLEDGE
        </div>      
        <%= link_to(t(".pledge-button", pledges_count: @pledges_count).html_safe, "#new_pledge", class: 'pledge-button button') %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        <%= t(".headline").html_safe %>
      </div>  
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <div class="intro-section flexbox vertical flex-1">
          <p><%= t(".intro-paragraph-a") %></p>
          <p><%= t(".intro-paragraph-b") %></p>
          <p><%= t(".intro-paragraph-c") %></p>
        </div>
        <div class="trailer-video flexbox vertical flex-1">
          <div class="framed-element">
            <div class="embed-wrapper">
              <iframe src="https://www.youtube.com/embed/tvbBQPOJF7Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical start">
      <div class="section-title tight-bottom"><%= t(".twitch-title") %></div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="twitch-badge flexbox vertical start">
          <%= image_tag("/images/anykey-cap-512.svg") %>
        </div>
        <div class="twitch-section flexbox vertical start flex-1">
          <p><%= t(".twitch-text-a") %></p>
          <p><%= t(".twitch-text-b") %></p>
        </div>
      </div>
    </div>
  </div>
  <div id="glhf-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div id="glhf-inner" class="inner flexbox vertical stretch">
          <div class="flexbox horizontal wrap center justify-space-around">
            <div class="promise-section flexbox vertical start flex-1">
              <div class="section-title"><%= t(".glhf-title") %></div>
              <div class="promise-list">
                <div class="promise flexbox horizontal center">
                  <div class="number">1</div>
                  <div class="text"><%= t(".glhf-promise-1") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">2</div>
                  <div class="text"><%= t(".glhf-promise-2") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">3</div>
                  <div class="text"><%= t(".glhf-promise-3") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">4</div>
                  <div class="text"><%= t(".glhf-promise-4") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">5</div>
                  <div class="text"><%= t(".glhf-promise-5") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">6</div>
                  <div class="text"><%= t(".glhf-promise-6") %></div>
                </div>
                <div class="promise flexbox horizontal center">
                  <div class="number">7</div>
                  <div class="text"><%= t(".glhf-promise-7") %></div>
                </div>
              </div>
            </div>
            <div class="flexbox vertical start">
              <%= render(partial: "pledges/form") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical start">
      <div class="section-title"><%= t(".reporting-title") %></div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="reporting-section flexbox vertical center flex-1">
          <p><%= t(".reporting-paragraph-a") %></p>
          <p><%= t(".reporting-paragraph-b") %></p>
          <%= link_to(t(".report-button"), root_path, class: 'report-button button') %>
        </div>
        <div class="rules-section flexbox vertical start">
          <p><strong><%= t(".rules-subtitle-a") %></strong></p>
          <ul>
            <li><%= t(".rules-text-a") %></li>
            <li><%= t(".rules-text-b") %></li>
            <li><%= t(".rules-text-c") %></li>
            <li><%= t(".rules-text-d") %></li>
            <li><%= t(".rules-text-e") %></li>
            <li><%= t(".rules-text-f") %></li>
          </ul>
          <p><strong><%= t(".rules-subtitle-b") %></strong></p>
          <ul>
            <li><%= t(".rules-text-g") %></li>
            <li><%= t(".rules-text-h") %></li>
            <li><%= t(".rules-text-i") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="twitter-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div id="twitter-inner" class="inner flexbox vertical center">
          <div class="section-title"><%= t(".twitter-title", pledges_count: @pledges_count) %></div>
          <div class="tweets flexbox horizontal wrap start justify-space-around">
            <div class="flexbox vertical center">
              <%= render(partial: "pledges/tweets-a") %>
            </div>
            <div class="flexbox vertical center">
              <%= render(partial: "pledges/tweets-b") %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="about-section flexbox vertical start flex-1">
          <div class="section-title"><%= t(".about-title") %></div>
          <div>
            <p><%= t(".about-paragraph-a") %></p>
            <p><%= t(".about-paragraph-b") %></p>
          </div>
        </div>
          <%= image_tag("/images/pledge-feature.jpg", class: "framed-element about-image") %>
      </div>
    </div>
  </div>
  
    
</div>
