<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Pledge Details</div>
        <div class="panel-descriptor">
          Pledged <%= l(@pledge.signed_on, format: "%b. %-d, %Y · %-l:%M%P") %>
        </div>
      </div>
      <%= render(partial: "pledges/body") %>
      <div class="pledge-buttons flexbox horizontal-reverse wrap-reverse center">
        <%= link_to('Back', params[:back].present? ? params[:back] : staff_index_path, class: "back-button mini button", tabindex: "1") %>
      </div>
      <%= render(partial: "pledges/pledger_details") %>
      <%= render(partial: "pledges/reports_about") %>
      <%= render(partial: "pledges/reports_filed") %>
      <%= render(partial: "pledges/referrals") %>
    </div>
  </div>
</div>
