<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title"><%= @pledge.email %></div>
        <div class="panel-descriptor">
          Pledged on <%= l(@pledge.created_at, format: "%b. %-d, %Y").upcase %>
        </div>
      </div>
      <div class="flexbox horizontal end wrap-reverse justify-space-between">
        <div class="pledge-item flexbox vertical stretch">
          <div class="item-title flexbox horizontal center"><span class="icon">&#xf1e8;</span> Twitch Badge</div>
          <div class="item-text"><%= render(partial: "pledges/badge_status") %></div>
          <% unless @pledge.twitch_id.blank? %>
          <div class="item-text">Username: <%= link_to(@pledge.twitch_display_name, "https://twitch.tv/#{@pledge.twitch_display_name}", class: "inline", target: "blank") %></div>
          <% end %>
        </div>
      </div>
      <div class="flexbox horizontal end wrap-reverse justify-space-between">
        <div class="pledge-item flexbox vertical stretch flex-1">
          <div class="item-title flexbox horizontal center"><span class="icon">&#xf071;</span> Reports About <%= @pledge.reports_about.present? ? "(#{@pledge.reports_about.count})" : ''%></div>
          <% if @pledge.reports_about.present? %>
          <div class="item-list"><%= render(partial: "reports/row", collection: @pledge.reports_about, as: :report) %></div>
          <% else %>
          <div class="item-text">There are no reports about this pledger.</div>
          <% end %>
        </div>
      </div>
      <div class="flexbox horizontal end wrap-reverse justify-space-between">
        <div class="pledge-item flexbox vertical stretch flex-1">
          <div class="item-title flexbox horizontal center"><span class="icon">&#xf303;</span> Reports Filed <%= @pledge.reports_filed.present? ? "(#{@pledge.reports_filed.count})" : ''%></div>
          <% if @pledge.reports_filed.present? %>
          <div class="item-list"><%= render(partial: "reports/row", collection: @pledge.reports_filed, as: :report) %></div>
          <% else %>
          <div class="item-text">This pledger has not filed any reports.</div>
          <% end %>
        </div>
      </div>
      <div class="flexbox horizontal end wrap-reverse justify-space-between">
        <div class="pledge-item flexbox vertical stretch flex-1">
          <div class="item-title flexbox horizontal center"><span class="icon">&#xf4c4;</span> Referrals <%= @pledge.referrals.present? ? "(#{@pledge.referrals.count})" : ''%></div>
          <% if @pledge.referrer.blank? && @pledge.referrals.blank?  %>
          <div class="item-text">There are no referrals related to this pledge.</div>
          <% end %>
          <% if @pledge.referrer.present? %>
          <div class="item-text">Referred by: <%= link_to(@pledge.referrer.email, pledge_path(@pledge.referrer, staff: "true"), class: "inline") %></div>
          <% end %>
          <% if @pledge.referrals.present? %>
          <div class="item-list"><%= render(partial: "pledges/row", collection: @pledge.referrals, as: :pledge) %></div>
          <% end %>
        </div>
      </div>
      <div class="pledge-buttons flexbox horizontal-reverse wrap-reverse center">
        <%= link_to('Okay', params[:back].present? ? params[:back] : staff_index_path, class: "button okay-button", tabindex: "1") %>
      </div>
    </div>
  </div>
</div>
