<table id="certificate" border="0" cellpadding="0" cellspacing="20" width="100%">
  <tr>
    <td colspan="2">
      <h4>Eligibility Certificate</h4>
      <span class="small">For marginalized gender gaming events</span><br>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="26" height="26">
            <img src="https://anykey.org/images/anykey-cap.png" width="22px">
          </td>
          <td valign="top">
            <span class="small gray"> AnyKey issued on <%= l(@verification.reviewed_on, format: "%B %-d, %Y") %></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top">
      <strong>Full Name</strong><br>
      <%= @verification.full_name %>
    </td>
    <td width="50%" valign="top">
      <strong>Email</strong><br>
      <%= @verification.email %>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top">
      <strong>Discord</strong><br>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="24" height="26">
            <img src="https://anykey.org/images/discord.png" width="20px">
          </td>
          <td valign="top">
            <%= @verification.discord_username %>
          </td>
        </tr>
      </table>
    </td>
    <td width="50%" valign="top">
      <strong><%= Verification::PLAYER_ID_TYPES[@verification.player_id_type.to_sym] %></strong><br>
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="20" height="26">
            <img src=<%= "https://anykey.org/images/#{@verification.player_id_type}.png" %> width="16px">
          </td>
          <td valign="top">
            <%= @verification.player_id %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td width="50%" valign="top">
      <strong>Gender</strong><br>
      <%= @verification.gender %>
    </td>
    <td width="50%" valign="top">
      <strong>Pronouns</strong><br>
      <%= @verification.pronouns %>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Certificate Code</strong><br>
      <span class="key-code"><%= @verification.identifier %></span>
    </td>
    <td>
      <img src="https://anykey.org/images/eligible.png" width="160px" class="cert-stamp">
    </td>
  </tr>
</table>