<div id="" class="flexbox vertical center">
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical start">
      <div class="section-title">
        Login
      </div>
      <div class="flexbox vertical start flex-1">
        
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "users/shared/links" %>
        
      </div>
    </div>
  </div>
</div>  





