<div class="faq-section flexbox vertical stretch">
  <div class="faq-header">
    Eligibility Certification FAQ
  </div>
  <% (1..17).each do |i| %>
    <div class="faq-item <%= cycle "odd", "even", name: "item-cycler" %> flexbox vertical stretch"  data-number="<%= i %>">
      <div class="question">
        <%= t(".question-#{i}").html_safe %>
      </div>
      <div id="<%= "faq-answer-#{i}" %>" class="answer">
        <%= t(".answer-#{i}").html_safe %>
      </div>
    </div>
  <% end %>
</div>
