<div class="flexbox horizontal end wrap justify-space-between">
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Full Name</div>
    <div class="item-text"><%= @verification.full_name %></div>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Email</div>
    <div class="item-text"><%= @verification.email %></div>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Discord Username</div>
    <div class="item-text flexbox horizontal center">
      <%= render inline: Rails.root.join('public/images/discord.svg').read %><%= @verification.discord_username %>
    </div>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title"><%= Verification::PLAYER_ID_TYPES[@verification.player_id_type.to_sym] %></div>
    <div class="item-text flexbox horizontal center">
      <%= render inline: Rails.root.join('public/images/riot.svg').read %><%= @verification.player_id %>
    </div>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Gender</div>
    <div class="item-text"><%= @verification.gender %></div>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Pronouns</div>
    <div class="item-text"><%= @verification.pronouns %></div>
  </div>
</div>
