<div class="flexbox horizontal start wrap justify-space-between">
  <div class="verification-item half-width flexbox vertical start">
    <div class="item-title">Photo ID</div>
    <% if @verification.photo_id.attached? %>    
    <div id="verification-photo-id" class="flexbox vertical center" data-url="<%= url_for(@verification.photo_id) %>">
      <% if @verification.photo_id.variable? %>
        <%= image_tag(@verification.photo_id.variant(resize_to_limit: [240, 240])) %>
      <% else %>
        <%= image_tag("/images/photo-id-preview.svg", width: 180) %>
        <div class="item-text small"><%= @verification.photo_id.filename %></div>
      <% end %>
      <div id="photo-id-overlay" style="display:none">
        <div class="action">
          Show Original
        </div>
      </div>
    </div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical start">
    <div class="item-title">Doctor's Note</div>
    <% if @verification.doctors_note.attached? %>    
      <div id="verification-doctors-note" class="flexbox vertical center" data-url="<%= url_for(@verification.doctors_note) %>">
        <% if @verification.doctors_note.variable? %>
          <%= image_tag(@verification.doctors_note.variant(resize_to_limit: [240, 240])) %>
        <% else %>
          <%= image_tag("/images/doctors-note-preview.svg", width: 130) %>
          <div class="item-text small"><%= @verification.doctors_note.filename %></div>
        <% end %>
        <div id="doctors-note-overlay" style="display:none">
          <div class="action">
            Show Original
          </div>
        </div>
      </div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Social Media Profile</div>
    <% if !@verification.social_profile.blank? %>
    <div class="item-text small"><%= link_to(@verification.social_profile, @verification.social_profile, class: "inline", target: "blank")%></div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Voice Chat?</div>    
    <% if @verification.voice_requested %>
    <div class="item-text submitted flexbox horizontal center">
      <div class="inline-icon">
        &#xf130;
      </div>
      Requested
    </div>
    <% else %>
    <div class="item-text empty flexbox horizontal center end">
      <div class="inline-icon">
        &#xf131;
      </div>
      Not requested
    </div>
    <% end %>
  </div>
  <div class="verification-item flexbox vertical stretch">
    <div class="item-title">Additional Notes</div>
    <% if !@verification.additional_notes.blank? %>
    <div class="item-text small"><%= @verification.additional_notes %></div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical start">
    <div class="item-title">Request Identifier</div>
    <div class="item-text <%= @verification.status %>"><%= @verification.identifier %></div>
  </div>
</div>
