<div class="flexbox horizontal start wrap justify-space-between">
  <div class="verification-item half-width flexbox vertical start">
    <div class="item-title">Photo ID</div>
    <% if @verification.photo_id_submitted %>    
    <div class="item-text submitted">Submitted</div>
    <% else %>
    <div class="item-text empty">Not submitted</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical start">
    <div class="item-title">Doctor's Note</div>
    <% if @verification.doctors_note_submitted %>    
    <div class="item-text submitted">Submitted</div>
    <% else %>
    <div class="item-text empty">Not submitted</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Social Media Profile</div>
    <% if !@verification.social_profile.blank? %>
    <div class="item-text small"><%= link_to(@verification.social_profile, @verification.social_profile, class: "inline", target: "blank")%></div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <div class="verification-item half-width flexbox vertical stretch">
    <div class="item-title">Voice Chat?</div>    
    <% if @verification.voice_requested %>
    <div class="item-text submitted flexbox horizontal center">
      <div class="inline-icon">
        &#xf130;
      </div>
      Requested
    </div>
    <% else %>
    <div class="item-text empty flexbox horizontal center end">
      <div class="inline-icon">
        &#xf131;
      </div>
      Not requested
    </div>
    <% end %>
  </div>
  <div class="verification-item flexbox vertical stretch">
    <div class="item-title">Additional Notes</div>
    <% if !@verification.additional_notes.blank? %>
    <div class="item-text small"><%= @verification.additional_notes %></div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <% if @verification.denied? %>
  <div class="verification-item flexbox vertical stretch">
    <div class="item-title">Reason for Denial</div>
    <div class="item-text small"><%= @verification.denial_reason %></div>
  </div>
  <% end %>
  <div class="verification-item half-width flexbox vertical start">
    <div class="item-title">
      <%= @verification.eligible? ? "Certificate Code" : "Request Identifier" %>
    </div>
    <div class="item-text <%= @verification.status %>"><%= @verification.identifier %></div>
  </div>  
</div>
