<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">
    Verification Review
  </div>
  <div class="flexbox horizontal center">
    <div class="panel-descriptor">
      Requested <%= l(@verification.requested_on, format: "%b. %-d, %Y · %-l:%M%P") %>
    </div>
    <%= render(partial: "verifications/watchable_toggle")%>
  </div>
</div>
<%= render(partial: "verifications/identity") %>
<%= render(partial: "verifications/request_materials") %>
<form action="<%= ignore_verification_path(@verification) %>" method="POST" enctype="multipart/form-data" class="verification-buttons flexbox horizontal-reverse wrap-reverse center">
  <div style="hidden">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <%= link_to("Verify", verify_eligibility_verification_path(@verification, back: request.fullpath), class: 'verify-button button', tabindex: "1") %>
  <%= link_to("Deny", deny_eligibility_verification_path(@verification, back: request.fullpath), class: 'deny-button button', tabindex: "2") %>
  <input id="ignore_submit" name="commit" type="submit" class="ignore-button button" value="Ignore" data-confirm="<%="Are you sure you want to ignore #{@verification.full_name}'s verification request?\n\nRemember, this will permanently destroy their uploaded documents and cannot be reversed 🤖" %>" tabindex="2">
  <%= link_to('Back', params[:back].present? ? params[:back] : verifications_path, class: "back-button mini button", tabindex: "4") %>
</form>
<%= render(partial: "verifications/requester_details") %>
<%= render(partial: "verifications/comments")%>
<%= render(partial: "verifications/related_requests") %>
