<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">
    <% if @verification.ignored? %>
      Ignored Request
    <% elsif @verification.denied? %>
      Eligibility Denied
    <% elsif @verification.eligible? %>
      Eligibility Certification
    <% end %>
  </div>
  <div class="panel-descriptor">
    Reviewed on <%= l(@verification.reviewed_on, format: "%b. %-d, %Y · %-l:%M%P").upcase %><br>
    by <%= link_to(@verification.reviewer.display_name, user_path(@verification.reviewer)) %>
  </div>
</div>
<%= render(partial: "verifications/identity") %>
<%= render(partial: "verifications/review_details") %>
<div class="verification-buttons flexbox horizontal-reverse wrap-reverse center">
  <% if @verification.ignored? %>
    <%= link_to("Unignore", unignore_verification_path(@verification), method: :post, class: 'unignore-button button') %>
  <% else %>
    <div class="stamp"><%= image_tag("/images/#{@verification.status}.svg", width: "200px") %></div>
  <% end %>
  <%= link_to('cancel', params[:back].present? ? params[:back] : verifications_path, class: "stealth" ) %>
</div>
<hr class="spacer">
<div class="flexbox horizontal end wrap-reverse justify-space-between">
  <div class="pledge-item flexbox vertical stretch flex-1" style="margin-top: 0em;">
    <div class="item-title flexbox horizontal center">
      <span class="icon">&#xf002;</span> Related Requests <%= @related_requests.present? ? "(#{@related_requests.count})" : ''%>
    </div>
    <% if @related_requests.present? %>
    <div class="item-list">
      <%= render(partial: "verifications/row", collection: @related_requests, as: :verification) %>
    </div>
    <% else %>
    <div class="item-text">
      There are no related eligibility verification requests.
    </div>
    <% end %>
  </div>
</div>
