<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">
    <% if @verification.ignored? %>
      Ignored Request
    <% elsif @verification.denied? %>
      Eligibility Denied
    <% elsif @verification.withdrawn? %>
      Eligibility Withdrawn  
    <% elsif @verification.eligible? %>
      Eligibility Certification
    <% end %>
  </div>
  <div class="panel-descriptor">
    <% if @verification.withdrawn? %>
    Withdrawn <%= l(@verification.withdrawn_on, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@verification.withdrawer.display_name, user_path(@verification.withdrawer)) %>]<br>
    <% end %>
    <%= @verification.issued? ? "Issued" : Verification::STATUSES[@verification.status.to_sym].titlecase %> <%= l(@verification.reviewed_on, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@verification.reviewer.display_name, user_path(@verification.reviewer)) %>]
  </div>
</div>
<%= render(partial: "verifications/identity") %>
<%= render(partial: "verifications/review_details") %>
<% if @verification.ignored? %>
  <div class="verification-buttons flexbox horizontal-reverse wrap-reverse center">
    <%= link_to("Unignore", unignore_verification_path(@verification), method: :post, class: 'unignore-button button', tabindex: "2") %>
    <%= link_to('Back', params[:back].present? ? params[:back] : verifications_path, class: "back-button mini button", tabindex: "1" ) %>
  </div>
<% elsif @verification.eligible? %>  
  <form action="<%= resend_cert_verification_path(@verification) %>" id="resend_cert" method="POST" enctype="multipart/form-data" class="verification-buttons eligible flexbox horizontal-reverse wrap-reverse center">
    <div style="hidden">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    </div>
    <input id="resend_cert_submit" name="commit" type="submit" class="resend-button button" value="Resend" data-confirm="<%="Are you sure you want to resend #{@verification.full_name}'s eligibility certificate for marginalized gender tournaments?\n\nRemember, this generates an email that cannot be unsent 🤖" %>" tabindex="2">
    <%= link_to("Voucher", voucher_verification_path(@verification, back: request.fullpath), class: 'voucher-button button', target: "_blank", tabindex: "3") %>
    <%= link_to("Withdraw", withdraw_eligibility_verification_path(@verification, back: request.fullpath), class: 'withdrawal-button button', tabindex: "4") %>
    <%= link_to('Back', params[:back].present? ? params[:back] : verifications_path, class: "back-button mini button", tabindex: "1" ) %>
  </form>
<% else %>
  <div class="verification-buttons flexbox horizontal-reverse wrap-reverse center">
    <%= link_to('Back', params[:back].present? ? params[:back] : verifications_path, class: "back-button mini button", tabindex: "1" ) %>
  </div>
<% end %>
<hr class="spacer">
<div class="flexbox horizontal end wrap-reverse justify-space-between">
  <div class="pledge-item flexbox vertical stretch flex-1" style="margin-top: 0em;">
    <div class="item-title flexbox horizontal center">
      <span class="icon">&#xf002;</span> Related Requests <%= @related_requests.present? ? "(#{@related_requests.count})" : ''%>
    </div>
    <% if @related_requests.present? %>
    <div class="item-list">
      <%= render(partial: "verifications/row", collection: @related_requests, as: :verification) %>
    </div>
    <% else %>
    <div class="item-text">
      There are no related eligibility verification requests.
    </div>
    <% end %>
  </div>
</div>
