<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">
    Verification Review
  </div>
  <div class="panel-descriptor">
    Requested on <%= l(@verification.requested_on, format: "%b. %-d, %Y · %-l:%M%P").upcase %>
  </div>
</div>
<%= render(partial: "verifications/identity") %>
<%= render(partial: "verifications/request_materials") %>
<div class="verification-buttons flexbox horizontal-reverse wrap-reverse center">
  <%= link_to("Verify", verify_eligibility_verification_path(@verification, back: request.fullpath), class: 'verify-button button', tabindex: "1") %>
  <%= link_to("Deny", deny_eligibility_verification_path(@verification, back: request.fullpath), class: 'deny-button button', tabindex: "2") %>
  <%= link_to("Ignore", ignore_verification_path(@verification), method: :post, class: 'ignore-button button', tabindex: "3") %>
  <%= link_to('cancel', params[:back].present? ? params[:back] : verifications_path, class: "stealth", tabindex: "4") %>
</div>
<hr class="spacer">
<div class="flexbox horizontal end wrap-reverse justify-space-between">
  <div class="pledge-item flexbox vertical stretch flex-1" style="margin-top: 0em;">
    <div class="item-title flexbox horizontal center">
      <span class="icon">&#xf002;</span> Related Requests <%= @related_requests.present? ? "(#{@related_requests.count})" : ''%>
    </div>
    <% if @related_requests.present? %>
    <div class="item-list">
      <%= render(partial: "verifications/row", collection: @related_requests, as: :verification) %>
    </div>
    <% else %>
    <div class="item-text">
      There are no related eligibility verification requests.
    </div>
    <% end %>
  </div>
</div>
