<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">
          <% if @verification.ignored? %>
            Ignored Request
          <% elsif @verification.denied? %>
            Eligibility Denied
          <% elsif @verification.eligible? %>
            Eligibility Certification
          <% else %>
            Verification Review
          <% end %>
        </div>
        <div class="panel-descriptor">
          Requested on <%= l(@verification.requested_on, format: "%b. %-d, %Y · %-l:%M%P").upcase %>
        </div>
      </div>
      <%= render(partial: "verifications/identity") %>
      <% if @verification.pending? %>
      <%= render(partial: "verifications/materials") %>
      <% end %>
      <div class="verification-buttons flexbox horizontal-reverse wrap-reverse center">
        <% if @verification.pending? %>
          <%= link_to("Verify", verify_eligibility_verification_path(@verification, back: request.fullpath), class: 'verify-button button') %>
          <%= link_to("Deny", deny_eligibility_verification_path(@verification, back: request.fullpath), class: 'deny-button button') %>
          <%= link_to("Ignore", ignore_verification_path(@verification), method: :post, class: 'ignore-button button') %>
        <% elsif @verification.reviewed? %>
          <% if @verification.ignored? %>
            <%= link_to("Unignore", unignore_verification_path(@verification), method: :post, class: 'unignore-button button') %>
          <% else %>
            <div class="stamp"><%= image_tag("/images/#{@verification.status}.svg", size: "200x200") %></div>
          <% end %>
        <% end %>
        <%= link_to('cancel', verifications_path, class: "stealth" ) %>
      </div>
    </div>
  </div>
</div>
