<div class="flexbox horizontal end wrap-reverse justify-space-between">
  <div class="flexbox vertical">
    <div class="report-item flexbox vertical stretch">
      <div class="item-title">Reported Twitch Username</div>
      <div class="item-text"><%= link_to(@report.reported_twitch_name, "https://twitch.tv/#{@report.reported_twitch_name}", class: "inline", target: "blank") %></div>
    </div>
    <div class="report-item flexbox vertical stretch">
      <div class="item-title">Stream Where Incident Occurred</div>
      <div class="item-text"><%= link_to(@report.incident_stream, "https://twitch.tv/#{@report.incident_stream}", class: "inline", target: "blank") %></div>
    </div>
    <div class="report-item flexbox vertical stretch">
      <div class="item-title">Date &amp; Time of Incident</div>
      <div class="item-text small"><%= l(@report.incident_occurred, format: "%b. %-d, %Y · %-l:%M%P") %></div>
    </div>
  </div>
  <div class="report-item flexbox vertical stretch">
    <div id="report-screenshot" class="flexbox horizontal center" data-url="<%= report_image_src(@report, :original) %>">
      <%= image_tag(report_image_src(@report, :preview)) %>
      <div id="screenshot-overlay" style="display:none">
        <div class="action">
          Show Original
        </div>
      </div>
    </div>
  </div>
</div>
<div class="report-item flexbox vertical stretch">
  <div class="item-title">Incident Description</div>
  <div class="item-text small"><%= @report.incident_description %></div>
</div>
<div class="report-item flexbox vertical stretch">
  <div class="item-title">Reporter's Recommended Response</div>
  <div class="item-text small"><%= @report.recommended_response.blank? ? '-' : @report.recommended_response %></div>
</div>