<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical start">
      <div class="panel-title">Staff dashboard</div>
      <div class="panel-menu flexbox horizontal center wrap">
        <%= link_to("Affiliates", affiliates_path(staff: true), class: "stealth") %>
        <%= link_to("Pledges", pledges_path, class: "stealth") %>
        <%= link_to("Reports", reports_path, class: "stealth") %>
        <%= link_to("Staff", users_path, class: "stealth") %>
        <%= link_to("Stories", stories_path(staff: true), class: "stealth") %>
      </div>
    </div>
  </div>
</div>
