<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Report Review</div>
        <div class="panel-descriptor">
          Filed on <%= l(@report.created_at, format: "%b. %-d, %Y · %-l:%M%P").upcase %><br>
          by <%= @report.reporter_email %> <%= @report.reporter_twitch_name.blank? ? '' : '('+@report.reporter_twitch_name+')'%>
        </div>
      </div>
      <div class="flexbox horizontal end wrap-reverse justify-space-between">
        <div class="flexbox vertical">
          <div class="report-item flexbox vertical stretch">
            <div class="item-title">Reported Twitch Username</div>
            <div class="item-text"><%= link_to(@report.reported_twitch_name, "https://twitch.tv/#{@report.reported_twitch_name}", class: "inline", target: "blank") %></div>
          </div>
          <div class="report-item flexbox vertical stretch">
            <div class="item-title">Stream Where Incident Occurred</div>
            <div class="item-text"><%= link_to(@report.incident_stream, "https://twitch.tv/#{@report.incident_stream}", class: "inline", target: "blank") %></div>
          </div>
          <div class="report-item flexbox vertical stretch">
            <div class="item-title">Date &amp; Time of Incident</div>
            <div class="item-text small"><%= l(@report.incident_occurred, format: "%b. %-d, %Y · %-l:%M%P") %></div>
          </div>
        </div>
        <div class="report-item flexbox vertical stretch">
          <div id="report-screenshot" class="flexbox horizontal center" data-url="<%= report_image_src(@report, :original) %>">
            <%= image_tag(report_image_src(@report, :preview)) %>
            <div id="screenshot-overlay" style="display:none">
              <div class="action">
                Show Original
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="report-item flexbox vertical stretch">
        <div class="item-title">Incident Description</div>
        <div class="item-text small"><%= @report.incident_description %></div>
      </div>
      <div class="report-item flexbox vertical stretch">
        <div class="item-title">Reporter's Recommended Response</div>
        <div class="item-text small"><%= @report.recommended_response.blank? ? '-' : @report.recommended_response %></div>
      </div>
      <div class="report-facts flexbox vertical stretch">
        <hr class="report-spacer">
        Keybot says: <%= @message %>
      </div>  
      <div class="report-buttons flexbox horizontal-reverse wrap-reverse center">
        <% if @report.dismissed %>
          <%= link_to("Undismiss", staff_report_undismiss_path(@report), method: :post, class: 'dismiss-button button') %>
        <% else %>
          <% if @actionable %>
          <%= link_to("Revoke", "", class: 'revoke-button button') %>
          <%= link_to("Warn", "", class: 'warn-button button') %>
          <% end %>
          <%= link_to("Dismiss", staff_report_dismiss_path(@report), method: :post, class: 'dismiss-button button') %>
        <% end %>
        <%= link_to('cancel', staff_reports_path, class: "stealth" ) %>
      </div>
    </div>
  </div>
</div>
