<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">
          Staff Profile
        </div>
        <div class="flexbox horizontal center">
          <div class="panel-descriptor">
            Created <%= l(@user.created_at, format: "%b. %-d, %Y · %-l:%M%P") %>
          </div>
        </div>
      </div>
      <%= render(partial: "users/body") %>
      <div class="user-buttons flexbox vertical end">
        <div class="flexbox horizontal center">
          <%= link_to('Back', params[:back].present? ? params[:back] : staff_index_path, class: "back-button mini button", tabindex: "1") %>
        </div>
      </div>
      <%= render(partial: "users/reviewed_reports") %>
      <%= render(partial: "users/reviewed_verifications") %>
      <%= render(partial: "users/reviewed_concerns") %>
    </div>
  </div>
</div>