<div id="footer" class="flexbox vertical center">
  <div id="footer-content" class="flexbox horizontal center wrap justify-space-between">
    <div class="creators flexbox horizontal center">
      <%= link_to(image_tag("/images/anykey-cap.svg", size: "80x80", class: "left-logo"), root_path) %>
      <div class="flexbox vertical start">
        <div>Designed by:</div>
        <%= link_to(image_tag("/images/neta-snook-logo.svg", size: "100x25"), "http://netasnook.com") %>
      </div>
    </div>
    <div class="sitemap flexbox horizontal center wrap">
      <div class="left-column flexbox vertical start">
        <%= link_to('About', about_path, class: "stealth") %>
        <%= link_to('Affiliates', affiliates_path, class: "stealth") %>
        <%= link_to('Badge Report', new_report_path, class: "stealth") %>
        <%= link_to('Changemakers', changemakers_path, class: "stealth") %>
        <%= link_to('Contact', contact_path, class: "stealth") %>
      </div>
      <div class="left-column flexbox vertical start">
        <%= link_to('Data Policy', data_policy_path, class: "stealth") %>
        <%= link_to('Donate', donate_path, class: "stealth") %>
        <%= link_to('glhf PLEDGE', new_pledge_path, class: "stealth") %>
        <%= link_to("Inclusion 101", inclusion_101_path, class: "stealth") %>
        <%= link_to("Keystone Code", keystone_code_path, class: "stealth") %>
      </div>
      <div class="flexbox vertical start">
        <%= link_to('Logo Guide', logo_guide_path, class: "stealth") %>
        <%= link_to('Resources', resources_path, class: "stealth") %>
        <%= link_to('Stories', stories_path, class: "stealth") %>
        <%= link_to('Verification', new_verification_path, class: "stealth") %>
        <%= link_to('Work With Us', work_with_us_path, class: "stealth") %>
      </div>
    </div>
    <div class="social-links flexbox vertical start">
      <div class="top-row flexbox horizontal center">
        <%= link_to("&#xf1e8;".html_safe, "https://www.twitch.tv/anykeyorg") %>
        <%= link_to("&#xf099;".html_safe, "https://twitter.com/anykeyorg") %>
        <%= link_to("&#xf082;".html_safe, "https://www.facebook.com/AnyKeyOrg") %>
      </div>
      <div class="flexbox horizontal center">
        <%= link_to("&#xf16d;".html_safe, "https://www.instagram.com/AnyKeyOrg") %>
        <%= link_to("&#xf167;".html_safe, "https://www.youtube.com/channel/UC_g-d1xOkG8Jhc5HprmDQRA") %>
        <%= link_to("&#xf392;".html_safe, "https://discord.gg/Vpn8QQzTtS") %>
      </div>
    </div>
    <div class="reporting flexbox vertical start">
      Saw someone abusing<br>
      the AnyKey badge?
      <%= link_to('File a Report', new_report_path, class: "stealth", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Report', 'event_label': 'FooterLink'});") %>
    </div>
    <div class="sponsors flexbox horizontal center">
      <%= link_to(image_tag("/images/oneoc-logo-white.svg", size: "60x60", class: "sponsorship-logo"), "https://oneoc.org") %>
      <div>
        AnyKey is a 501c3<br>
        non-profit organization<br>
        fiscally sponsored by<br>
        OneOC: Tax ID 95-2021700
      </div>
    </div>
  </div>
</div>