<div id="footer" class="flexbox vertical center">
  <div id="footer-content" class="flexbox horizontal center wrap justify-space-around">
    <div class="left flexbox horizontal center">
      <%= link_to(image_tag("/images/anykey-cap-64.svg", size: "80x80"), root_path) %>
      <div class="flexbox vertical start">
        <div>Designed by:</div>
        <%= link_to(image_tag("/images/neta-snook-logo.svg", size: "100x25"), "http://netasnook.com") %>
      </div>
    </div>
    <div class="left-middle flexbox vertical start">
      <%= link_to('About', about_path) %>
      <%= link_to('Contact', contact_path) %>
      <%= link_to('Data Policy', data_policy_path) %>
    </div>
    <div class="middle flexbox vertical start">
      socials go here
    </div>
    <div class="right-middle flexbox vertical start">
      See someone abusing<br>
      the AnyKey badge?
      <%= link_to('File a Report', new_report_path) %>
    </div> 
    
    <div class="right flexbox vertical start">
      <div>Sponsored by:</div>
      <div class="flexbox horizontal center">
        <%= link_to(image_tag("/images/esl-logo.svg", size: "101x31"), "https://www.eslgaming.com/") %>
        <%= link_to(image_tag("/images/intel-logo.svg", size: "78x53"), "https://www.intel.com") %>
      </div>
    </div>
  </div>
</div>
