<div id="header" class="flexbox vertical center">
  <div id="header-content" class="flexbox horizontal center">
    <% if controller_name == 'affiliates' %>
    <%= link_to(image_tag("/images/anykey-cap-orange.svg", size: "32x32")+"AnyKey", root_path, class: 'logo flexbox horizontal center') %>    
    <% elsif controller_name == 'resources' %>
    <%= link_to(image_tag("/images/anykey-cap-blue.svg", size: "32x32")+"AnyKey", root_path, class: 'logo flexbox horizontal center') %>
    <% elsif controller_name == 'stories' %>
    <%= link_to(image_tag("/images/anykey-cap-fuchsia.svg", size: "32x32")+"AnyKey", root_path, class: 'logo flexbox horizontal center') %>    
    <% else %>
    <%= link_to(image_tag("/images/anykey-cap.svg", size: "32x32")+"AnyKey", root_path, class: 'logo flexbox horizontal center') %>
    <% end %>
    <div id="full-menu" class="flexbox vertical end flex-1">
      <div class="flexbox horizontal center">
        <%= link_to('glhf PLEDGE', new_pledge_path, class: (controller_name == 'pledges' ? 'selected ' : '') + 'pledge item') %>
        <%= link_to('Affiliates', affiliates_path, class: (controller_name == 'affiliates' ? 'selected ' : '') + 'affiliates item') %>
        <%= link_to('Resources', resources_path, class: (controller_name == 'resources' ? 'selected ' : '') + 'resources item')  %>
        <%= link_to('Stories', stories_path, class: (controller_name == 'stories' ? 'selected ' : '') + 'stories item') %>        
        <%= link_to('About', about_path, class: (controller_name == 'about' && controller.action_name == 'index' ? 'selected ' : '') + 'last item') %>    
      </div>
    </div>
    <div id="veggieburger" class="flexbox vertical end flex-1">
       <a class="veggieburger">☰</a>
    </div>
  </div>
</div>
<div id="veggieburger-menu" class="flexbox vertical start" style="display: none">
  <div class="row">
    <%= link_to('glhf PLEDGE', new_pledge_path, class: (controller_name == 'pledges' ? 'selected ' : '') + 'pledge') %>
  </div>
  <div class="row">
    <%= link_to('Affiliates', affiliates_path, class: (controller_name == 'affiliates' ? 'selected ' : '') + 'affiliates') %>
  </div>
  <div class="row">
    <%= link_to('Resources', resources_path, class: (controller_name == 'resources' ? 'selected ' : '') + 'resources')  %>
  </div>
  <div class="row">
    <%= link_to('Stories', stories_path, class: (controller_name == 'stories' ? 'selected ' : '') + 'stories') %>    
  </div>
  <div class="row">
    <%= link_to('About', about_path, class: (controller_name == 'about' && controller.action_name == 'index' ? 'selected ' : '')) %>    
  </div>
</div>