<div id="header" class="flexbox vertical center">
  <div id="header-content" class="flexbox horizontal center">
    <%= link_to(image_tag("/images/anykey-cap.svg", size: "32x32")+"AnyKey", staff_index_path, class: 'logo flexbox horizontal center') %>
    <div id="full-menu" class="flexbox vertical end flex-1">
      <div class="flexbox horizontal center">
        <% if user_signed_in? %>
        <%= link_to("Reports", reports_path, class: (controller_name == 'reports' ? 'selected ' : '') + 'item') %>
        <%= link_to("Pledges", pledges_path, class: (controller_name == 'pledges' ? 'selected ' : '') + 'item') %>
        <%= link_to("Verifications", verifications_path, class: (controller_name == 'verifications' ? 'selected ' : '') + 'item') %>
        <% if current_user.is_admin? %>
        <%= link_to("Affiliates", affiliates_path(staff: true), class: (controller_name == 'affiliates' ? 'selected ' : '') + 'item') %>
        <%= link_to("Stories", stories_path(staff: true), class: (controller_name == 'stories' ? 'selected ' : '') + 'item') %>
        <%= link_to("Staff", users_path, class: ((controller_name == 'users' || controller_name == 'invitations') ? 'selected ' : '') + 'item') %>
        <% end %>     
        <div id="header-avatar-container" class="flexbox vertical end">
          <%= image_tag(user_image_src(current_user, :tiny), size: "28x28", class: "header-avatar") %>
          <div id="dropdown-container" style="display:none">
            <div class="outer-caret"></div>
            <div class="inner-caret"></div>
            <div class="dropdown-menu flexbox vertical stretch">
              <%= link_to("Edit Profile", edit_user_path(current_user, back: request.fullpath), class: "menu-item") %>
              <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "menu-item") %>
            </div>
          </div>
        </div>
        <% else %>
        <%= link_to("Home", root_path, class: "item") %>
        <%= link_to("Login", new_user_session_path, class: (controller_name == 'sessions' ? 'selected ' : '') + 'item last') %>
        <% end %>
      </div>
    </div>
    <div id="veggieburger" class="flexbox vertical end flex-1">
       <a class="veggieburger">☰</a>
    </div>
  </div>
</div>
<div id="veggieburger-menu" class="flexbox vertical start" style="display: none">
  <% if user_signed_in? %>
  <div class="row">
    <%= link_to("Reports", reports_path, class: controller_name == 'reports' ? 'selected ' : '') %>
  </div>
  <div class="row">
    <%= link_to("Pledges", pledges_path, class: controller_name == 'pledges' ? 'selected ' : '') %>
  </div>
  <div class="row">
    <%= link_to("Verifications", verifications_path, class: controller_name == 'verifications' ? 'selected ' : '') %>
  </div>
  <% if current_user.is_admin? %>
  <div class="row">
    <%= link_to("Affiliates", affiliates_path(staff: true), class: controller_name == 'affiliates' ? 'selected ' : '') %>
  </div>
  <div class="row">
    <%= link_to("Stories", stories_path(staff: true), class: controller_name == 'stories' ? 'selected ' : '') %>
  </div>
  <div class="row">
    <%= link_to("Staff", users_path, class: (controller_name == 'users' || controller_name == 'invitations') ? 'selected ' : '') %>
  </div>
  <% end %>
  <div class="row">
    <%= link_to("Edit Profile", edit_user_path(current_user, back: request.fullpath)) %>
  </div>
  <div class="row">
    <%= link_to("Logout", destroy_user_session_path, method: :delete) %>
  </div>
  <% else %>
  <div class="row">
    <%= link_to("Home", root_path) %>
  </div>
  <div class="row">
    <%= link_to("Login", new_user_session_path, class: controller_name == 'sessions' ? 'selected ' : '') %>    
  </div>
  <% end %>
</div>