<div id="home" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="background"></div>
    <div class="background"></div>
    <div class="background"></div>
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            AnyKey advocates
          </div>
          <div class="line-b">
            for diversity and inclusion in gaming
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="headline">
        Welcome Anybody,<br>Include Everybody, Play&nbsp;Fair
      </div>
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <%= image_tag("/images/home-feature-a.jpg", class: "framed-element feature-image") %>
        <div class="intro-section flexbox vertical flex-1">
          <p>AnyKey is a non-profit organization that fosters change and empowers the champions making a difference in esports, competitive gaming, and live streaming.</p>
          <p>Through our innovative and impactful programs we are working to build a more inclusive and accessible world for all gamers.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="inclusion-101-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Inclusion 101</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Learn how to build a diverse & inclusive gaming group. Our materials are designed to help both players and organizers develop practical skills in allyship, bystander intervention, media representation, and more.</p>
              </div>  
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Check the Guide", inclusion_101_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Inclusion101', 'event_label': 'HomepageCTA'});" )%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="verification-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Eligibility Certification</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Players entering tournaments for competitors from marginalized genders (women, non-binary &amp; trans folks) can verify their eligibility through our system—designed with community feedback to be fast, flexible, and fair.</p>
              </div>
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Request Review", new_verification_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Verification', 'event_label': 'HomepageCTA'});" )%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="changemakers-section" class="flexbox vertical center">
    <div class="background-overlay light flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Changemakers Grant</div>
              <div class="text-section flexbox vertical flex-1">
                <p>After a competitive application process, we recently awarded a $5,000 grant to a group working to make gaming more diverse and inclusive. Learn more about our first Changemaker and the impact of their work.</p>
              </div>
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Meet the Winner", changemakers_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Changemakers', 'event_label': 'HomepageCTA'});")%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="glhf-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">GLHF Pledge</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Video games and esports should be open to all. Join us in creating a community of gamers that welcomes anybody and includes everybody by pledging to be a positive influence in your own spaces.</p>
              </div>  
            </div>
            <div class="flexbox vertical center">
              <%= link_to("<span class=\"detail-text\">Join #{number_with_delimiter(@pledges_count)} Gamers</span><br>Take the Pledge".html_safe, new_pledge_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'Pledge', 'event_label': 'HomepageCTA'});")%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <div id="keystone-code-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox horizontal center wrap justify-space-around">
            <div class="flexbox vertical start">
              <div class="section-title">Keystone Code</div>
              <div class="text-section flexbox vertical flex-1">
                <p>Our Keystone Code identifies four fundamental values that any gaming group can use as guides for positive and fulfilling engagement in their competitive spaces.</p>
              </div>  
            </div>
            <div class="flexbox vertical center">
              <%= link_to("Adopt the Code", keystone_code_path, class: "button", onClick: "gtag('event', 'ButtonClick', {'event_category': 'KeystoneCode', 'event_label': 'HomepageCTA'});" )%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title">Our goal is to make substantial change</div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="goal-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-orange.svg") %>
            <div class="subsection-title">Diversity</div>
          </div>
          <p>By increasing the percentage of marginalized people represented and participating in competitive gaming.</p>
        </div>
        <div class="goal-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-fuchsia.svg") %>
            <div class="subsection-title">Inclusion</div>
          </div>  
          <p>By improving the quality of meaningful participation in gaming spaces for members of marginalized groups.</p>
        </div>
        <div class="goal-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-blue.svg") %>
            <div class="subsection-title">Equity</div>
          </div>
          <p>By creating and providing new opportunities and resources for marginalized gamers, casters, and streamers.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="testimonial-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="flexbox vertical start flex-1">
            <div class="section-title">Your feedback is important to us</div>
            <div class="quote bottom-padded">
              "AnyKey holds positive and progressive values at its core. It's run by amazing women who actively aim to help their affiliates."
            </div>
          </div>
          <div class="flexbox vertical end flex-1">
            <div class="quote bottom-padded">
              "I love the message of AnyKey. We need as many people as possible out there helping to break down barriers and change the culture of competitive gaming."
            </div>  
          </div>
          <div class="flexbox vertical start flex-1">
            <div class="quote">
              "AnyKey is helping lead the charge for gamers who believe in compassion, integrity, respect, and courage."
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title">Our initiatives are strategically designed</div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/amplify-icon.svg") %>
          <div class="subsection-title">Amplify</div>
        </div>
          <p>We highlight those blazing a trail in the gaming community through content, spotlights, videos, articles, and tournaments.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/connect-icon.svg") %>
            <div class="subsection-title">Connect</div>
          </div>
          <p>We create meaningful opportunities for underrepresented groups to meet and network at some of the country’s largest gaming events.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/empower-icon.svg") %>
            <div class="subsection-title">Empower</div>
          </div>
          <p>We advance a more positive gaming community through social initiatives and the creation of educational tools and research.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="about-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div id="about-inner" class="inner flexbox vertical stretch">          
          <div class="text-section flexbox vertical start flex-1">
            <div class="section-title">About AnyKey</div>
            <div>
              <p>AnyKey is an non-profit organization that advocates for diversity, inclusion, and equity in gaming &amp; live streaming. We amplify, connect, and empower underrepresented players and their allies through research and strategic initiatives.</p>
              <p>Through our programs we aim to increase representation, improve participation, and foster more positive community spaces in gaming for participants of any kind. AnyKey supports its mission with funding from industry sponsors, corporate clients, and donors like you.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>