<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="control-panel flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Badge Revocation</div>
        <div class="panel-descriptor">
          Will be sent to <%= @pledge.email %> (<%= @report.reported_twitch_name %>)
        </div>
      </div>
      <div class="panel-text">
        Describe to the pledge-taker why we are revoking their badge. The reason you provide will be included in the notification email, so be clear and considerate! 
      </div>
      <form action="<%= report_revocations_path(@report) %>" id="new_revocation" method="POST" enctype="multipart/form-data" class="flexbox vertical">
        <div style="hidden">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </div>
        <div class="item flexbox vertical stretch">
          <textarea id="revocation_reason" name="revocation[reason]" class="text-field" type="text" autocomplete="off" tabindex="1"><%= @revocation.reason %></textarea>
          <label for="reason" class="text-field">Reason for revocation</label>
        </div>
        <%= display_alerts %>
        <div class="report-buttons flexbox vertical end">
          <div class="flexbox horizontal-reverse wrap-reverse center">
            <input id="revocation_submit" name="commit" type="submit" class="revoke-button button" value="Revoke Badge" data-confirm="<%="Are you sure you want to revoke the badge from #{@report.reported_twitch_name} and send them a notification at #{@pledge.email}?\nRemember, there's no way to unsend an email 😉" %>" tabindex="2">
            <%= link_to('cancel', params[:back].present? ? params[:back] : staff_index_path, class: "stealth", tabindex: "3") %>
          </div>
        </div>
      </form>
      <hr class="spacer">
      <div class="flexbox horizontal center wrap justify-space-between">
        <div class="panel-title">Original Report</div>
        <div class="panel-descriptor">
          Filed on <%= l(@report.created_at, format: "%b. %-d, %Y · %-l:%M%P").upcase %><br>
          by <%= @report.reporter_email %> <%= @report.reporter_twitch_name.blank? ? '' : '('+@report.reporter_twitch_name+')'%>
        </div>
      </div>
      <%= render(partial: "shared/report_body") %>
    </div>
  </div>
</div>
