<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch" data-url="<%= concern_path(concern, back: request.fullpath) %>">
  <div class="flexbox horizontal center wrap justify-space-between">
    <div class="row-title flexbox horizontal center">
      <div class="inline-icon">
        <%= image_tag("/images/#{concern.concerning_player_id_type}.svg") %>
      </div>
      <%= concern.concerning_player_id %>
    </div>
    <div class="flexbox horizontal center">
      <% if concern.open? %>
      <div class="row-detail">
        <%= l(concern.shared_on, format: "%b. %-d, %Y · %-l:%M%P ") %>
      </div>
      <% else %>
      <div class="row-detail">
      <%= l(concern.reviewed_on, format: "%b. %-d, %Y") %>&nbsp;·&nbsp;
      </div>
      <div class="row-detail <%= concern.status %>">
        <%= Concern::STATUSES[concern.status.to_sym].upcase %>
      </div>
      <% end %>
      <% if concern.comments.present? %>
      <div class="commented">
        &#xf27a;
      </div>
      <% end %>
      <% if concern.watched %>
      <div class="watched">
        &#xf06e;
      </div>
      <% end %>
    </div>
  </div>
  <div class="flexbox horizontal center wrap justify-space-between">
    <div class="flexbox horizontal center wrap">
      <div class="row-subtitle small flexbox horizontal center">
        <em>Shared by: <%= concern.concerned_email %></em>
      </div>
    </div>
    <div class="flexbox horizontal center wrap">
      <% if concern.screenshots.attached? %>
      <div class="row-subdetail flexbox horizontal center">
        <div class="inline-icon">
          &#xf030;
        </div>
         &nbsp;<%= concern.screenshots.count %>&nbsp;<%= concern.screenshots.count == 1 ? "Screenshot" : "Screenshots" %>
      </div>
      <% end %>
      <div class="row-subdetail flexbox horizontal center">
        <div class="inline-icon">
          &#xf11c;
        </div>
         &nbsp;<%= concern.word_count %>&nbsp;<%= concern.word_count == 1 ? "Word" : "Words" %>
      </div>
    </div>
  </div>
</div>
