<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">
    Concern Review
  </div>
  <div class="flexbox horizontal center">
    <div class="panel-descriptor">
      Shared <%= l(@concern.shared_on, format: "%b. %-d, %Y · %-l:%M%P") %>
    </div>
    <%= link_to('&#xf06e;'.html_safe, '', data: {watched_url: unwatch_concern_path(@concern), unwatched_url: watch_concern_path(@concern)}, id: "watchable-toggle", class: @concern.watched ? 'watched' : 'unwatched') %>
  </div>
</div>
<%= render(partial: "concerns/body") %>
<form action="<%= review_concern_path(@concern) %>" method="POST" enctype="multipart/form-data" class="concern-buttons flexbox horizontal-reverse wrap-reverse center">
  <div style="hidden">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <input id="review_submit" name="commit" type="submit" class="review-button button" value="Finish Review" data-confirm="<%="Are you sure you want to finish reviewing the concern about #{@concern.concerning_player_id}?\n\nRemember, this will send an email notification to the person who shared this concern ✉️" %>" tabindex="2">
  <%= link_to("Dismiss", dismiss_concern_path(@concern), method: :post, class: 'dismiss-button button', tabindex: "3") %>
  <%= link_to('Back', params[:back].present? ? params[:back] : concerns_path, class: "back-button mini button", tabindex: "4") %>
</form>
<%= render(partial: "concerns/comments")%>