<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">
    Reviewed Concern
  </div>  
  <div class="flexbox horizontal center">
    <div class="panel-descriptor">
      Reviewed <%= l(@concern.reviewed_on, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@concern.reviewer.display_name, user_path(@concern.reviewer)) %>]
    </div>
    <%= link_to('&#xf06e;'.html_safe, '', data: {watched_url: unwatch_concern_path(@concern), unwatched_url: watch_concern_path(@concern)}, id: "watchable-toggle", class: @concern.watched ? 'watched' : 'unwatched') %>
  </div>
</div>
<%= render(partial: "concerns/body") %>
<div class="concern-buttons flexbox horizontal-reverse wrap-reverse center">
  <%= link_to('Back', params[:back].present? ? params[:back] : concerns_path, class: "back-button mini button", tabindex: "1") %>
</div>
