<div id="changemakers" class="flexbox vertical center">
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox horizontal flex-1">
      <%= image_tag("/images/changemakers.svg", class: "logo-image") %>
    </div>
  </div>
  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical center">
      <div class="headline">
       Congratulations to our inaugural Changemaker
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section flexbox vertical">
          <p>During the summer of 2020 we launched a new program to directly support a Changemaker working to make gaming more diverse and inclusive.</p>
          <p>AnyKey is excited to introduce the Esports and Game Design Collective, the recipient of the inaugural $5K grant! Thanks to sponsorship from the U.S. Air Force, they will be able to expand the impact of their work.</p>
          <p>The EGD Collective supports casual gaming communities and early-career games professionals by powering public-facing student-led organizations on state college and university campuses.</p>
        </div>
        <div class="flexbox vertical center">
          <%= image_tag("/images/changemakers-feature-a.jpg", class: "framed-element feature-image wide") %>
          <div class="subsection-title">Sponsored By</div>
          <div class="flexbox horizontal center wrap justify-space-around">
            <%= link_to(image_tag("/images/airforce-logo-black.svg", class: "sponsorship-logo", size: "117x90"), "https://www.airforce.com") %>
            <%= link_to(image_tag("/images/esl-logo-black.svg", class: "sponsorship-logo", size: "152x47"), "https://www.eslgaming.com") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="bio-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox horizontal center wrap-reverse justify-space-around">
          <%= image_tag("/images/changemakers-feature-b.jpg", class: "framed-element white feature-image wide") %>
          <div class="bio-subsection flexbox vertical stretch">
            <div class="section-title">What is the Esports and Games Design Collective?</div>
            <div class="flexbox vertical">
              <p>The EGD Collective is an organization dedicated to removing barriers in games communities and making games a more accessible academic and career opportunity for all, through the power of public higher
education.</p>
              <p>EGD provides free events, educational programming, and support systems to help students and young industry professionals navigate through academic, financial, and emotional crises - ensuring students can complete their education and are prepared to establish healthy workplace boundaries in whichever field they choose.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="impact-section" class="flexbox vertical center">
    <div class="background-overlay flexbox vertical center">
      <div class="page-section flexbox vertical stretch flex-1">
        <div class="inner flexbox vertical stretch">
          <div class="impact-subsection flexbox vertical start">
            <div class="section-title">How is the EGD Collective advancing diversity & inclusion in gaming?</div>
            <div class="flexbox vertical flex-1">
              <p>In the past year, we served over 2,500 students from 52 colleges at our flagship location within Hunter College. Over 300 students discovered their career path through our programs, more than 200 students
took advantage of our crisis resources, and 32 were directly prevented from dropping out or getting academically dismissed.</p>
              <p>Although our future plans are to support public institutions across the country, we are starting with the CUNY system, where 80% of students are BIPOC, 61% experience food/housing insecurity or homelessness, 24%&nbsp;graduate in 4 years, and 12% participate in a paid internship.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap-reverse justify-space-between">
        <div class="plans-subsection flexbox vertical stretch">
          <div class="section-title">What are the EGD Collective’s plans for this grant?</div>
          <div class="flexbox vertical">
            <p>This year we are opening our fellowship programs to all CUNY campuses instead of just Hunter. We would be able to double our cohort of game development and esports fellows we intake this year, which will help us have an easier time scaling to serve more campuses.</p>
            <p>We would also be able to fund more virtual programming for students, such as game jams, facilitating a series of free training workshops for student leaders of gaming organizations nation-wide, and be able to compensate speakers for our annual free convention and conference, Waffle Games.</p>
          </div>
        </div>
        <%= image_tag("/images/changemakers-feature-c.jpg", class: "framed-element feature-image wide") %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="flexbox vertical center">
          <%= image_tag("/images/egd-logo.svg", class: "framed-element feature-image round") %>
          <div class="subsection-title">AnyKey Changemaker 2020</div>
        </div>
        <div class="social-links flexbox vertical center">
          <div class="subsection-title">Follow the EDG Collective</div>
          <div class="flexbox horizontal wrap justify-space-around">
            <%= link_to("&#xf57d;".html_safe, "https://egdcollective.org") %>
            <%= link_to("&#xf099;".html_safe, "https://twitter.com/egdcollective") %>
            <%= link_to("&#xf082;".html_safe, "https://facebook.com/egdcollective") %>
            <%= link_to("&#xf16d;".html_safe, "https://instagram.com/egdcollective") %>
            <%= link_to("&#xf1e8;".html_safe, "https://twitch.tv/egdcollective") %>
            <%= link_to("&#xf392;".html_safe, "https://discord.com/invite/egdc") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title flush-bottom">Behind the scenes Q&amp;A with the founder</div>
      <div class="qa-section flexbox vertical stretch">
        <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <div class="flexbox vertical start">
            <div class="qa-subsection wide">
              <p><strong>Can you start by introducing yourself?</strong></p>
              <p>My name is Kyra Wills-Umdenstock and I am the original founder and CEO of the EGD Collective!</p>
            </div>
            <div class="qa-subsection wide">
              <p><strong>What is your personal background in gaming?</strong></p>
              <p>Honestly, I’ve been a gamer since I was 3 years old when I figured out how to turn on the computer and get to the Nick Jr. games website by myself. By the time I was 12, I decided I wanted to work in games thanks to Wizard101 after stumbling upon their developer blog. That was when I realized that being a video game designer was a career, and my mother signed me up for classes with Hofstra University’s continuing education department’s youth program. I continued taking those until I graduated high school, immediately became a Teacher Assistant with them, and did that for about 3 years.</p>
              <p>I founded EGD shortly into my freshman year of undergrad, so when I think about it, I’ve been here for about 1/5th of my entire life! I tend to juggle a lot of things at once, so in addition to TAing and EGD I worked part-time at the Paley Center in their interactive gaming exhibit, interned at Games for Change, volunteered at events around the NYC gaming community, and did some independent contract work within esports spaces.</p>
            </div>
          </div>
          <div class="flexbox vertical center">
            <div class="crowned-image">
              <%= image_tag("/images/changemakers-crown.svg", class: "crown") %>
              <%= image_tag("/images/changemakers-feature-d.png", class: "framed-element feature-image") %>
            </div>
            <div class="image-title">Kyra Wills-Umdenstock</div>
            <div class="image-subtitle">EGD Collective Founder</div>
          </div>
        </div>
        <div class="qa-subsection">
          <p><strong>What got you interested in supporting gamers in educational spaces?</strong></p>
          <p>I was a bit ahead of the game when it came to knowing about the realities of game development as a career path. I knew it was extremely hard to break into and wasn’t too stable even after you were “in”, so I ended up choosing to go to Hunter College because I didn’t want to have to take out loans or move out west. Then, when I started the original version of EGD as a college club (we’ll talk more about that later!), I quickly realized how many students didn’t even know games courses existed at Hunter, and how many roadblocks students were facing.</p>
          <p>Both of my parents earned their master’s degrees, so it was never a question that I was attending college. But it’s no secret that many students in public institutions struggle with academic, financial, and emotional situations. They need a little extra support through college, and student leaders aren’t always prepared (or qualified) to be that first line of support. I handled academic advising to conflict resolution, as well as directing students to support for more serious issues - including sexual harassment, mental health concerns, and severe family and financial conflicts.</p>
          <p>I’ve always been interested in helping people; I’m a lifetime member of the Girl Scouts and even did my Gold Award project on raising the amount of women in STEM careers by focusing on the intersection of STEM and the arts - providing free workshops to girls in game development, Photoshop, 3D modeling and animation, music technology, and VFX and creating materials for my high school guidance counselor’s office to help students with their college search. So in reality, I’ve always been here, but I didn’t realize it until EGD.</p>
        </div>
        <div class="pull-quote">
         The long nights and crazy days are worth it when someone tells me they've discovered their passion or&nbsp;found their home.
        </div>
        <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <%= image_tag("/images/changemakers-feature-k.jpg", class: "framed-element feature-image") %>
          <div class="qa-subsection wide">
            <p><strong>What makes you the most passionate and excited about the work that the EGD Collective does?</strong></p>
            <p>Whenever students tell me how important EGD is to them and how it’s changed their life. In community management, you’re almost always ‘on’, and due to our social services aspect I often act as a case manager. It can get a bit exhausting - and mentally taxing, especially as someone who is still very much their peer (and often times their friend). But all the long nights and crazy days are worth it when we pull off something really cool, someone tells me they discovered their passion, or someone tells me they’ve found their home.</p>
            <p>I was taking a digital storytelling course this past spring and I was creating a video to highlight the importance of continuing to run EGD during the pandemic. I asked 4 very broad questions to members and got some of the most heartfelt responses. Being able to say you’ve had a measurable impact on someone is something that will never lose its positive feeling.</p>
          </div>
        </div>
        <div class="flexbox horizontal center wrap justify-space-between">
          <div class="flexbox vertical start">
            <div class="qa-subsection wide">
              <p><strong>How did the EGD Collective come into existence? Who was involved? What was the original goal?</strong></p>
              <p>Ah…the story of the time I was forced to learn what a wavedash was!</p>
              <p>Originally, I founded EGD as the Game Design Collective, a club at Hunter College with the goal of becoming a chapter of the International Game Developers Association. I knew I wanted to start a game dev club from the day I stepped onto campus, and I found some people willing to help in my classes. So in 2016, about 10 people started meeting in a basement lounge in an obscure part of campus attempting to teach ourselves Unity and start a Dungeons & Dragons campaign. I got all of our paperwork in order and found a few more people to apply to become an official club.</p>
              <p>When googling around how to start, I stumbled upon the Tespa Compete website, and that was when I first came into contact with esports. I’ve always been one to see how things can be mutually beneficial, and I thought that running a Hearthstone or Overwatch team or two would give us some willing playtesters. By the time the club fair came around, we still didn’t receive any notice if we were accepted, so we snuck in and set up shop to pass out flyers about an interest meeting. That’s when I met Huimin and found out that she tried to start a League of Legends club the year before and got denied.</p>
              <p>I was hoping since game development sounded more inherently academic, we’d get through and we could slide esports underneath. When it came time to have our interest meeting in our obscure basement lounge of a building no one knew existed, it was standing room only and out the door. The Super Smash Bros. Melee team had also applied to charter as a club that year and heard about our event, and we talked about merging in the case that one of us got denied.</p>
              <p>Low and behold, we both got denied by the undergraduate student government because the Fighting Games Association already existed on campus and there was a limit of 100 clubs allowed (and game development was too similar to fighting games…). The FGA also didn’t want the Melee team, which was why they tried to charter; so we merged my club, the melee team, and the League of Legends club under one name to try to appeal as the Esports and Game Design Collective as we had over 100 students after the interest meeting.</p>
              <p>That is when I became its first president, taking up the mission of being “a place where everyone, regardless of what games they play or their relation to the gaming industry could come together in a welcoming environment”. Huimin became treasurer about two months later.</p>
              <p>We were still denied, but we ended up running anyways thanks to Riot’s College League of Legends program’s lovely event packages, some monitors we found in the trash, and the Theater department allowing us to store stuff (and actually ran out of their building for 2 full years until we grew much too large to continue to do so). In 2018, we were finally accepted to charter (and this is when Ben replaced Huimin as treasurer).</p>
            </div>
            <div class="qa-subsection wide">
              <p><strong>How has the EGD Collective evolved over the years?</strong></p>
              <p>By the time of chartering we had over 500 students, with an average of 75 students coming each night to our events. However, nothing much changed. We still had no space of our own, and only $500 in funding for the entire year for 500 students. We were growing really fast too; students from other CUNYs were coming by pretty often and were even transferring into Hunter because we were here, and a bunch of students from FIT, New School and NYU tried sneaking into some of the club’s events.</p>
              <p>We had entertained the idea of incorporation back when we were first denied so we’d have more autonomy and support, but shelved it once we got chartered. This was also the year I started the Game Studio Program fellowship, and we were starting to resemble a department more than a club.</p>
              <p>Once the academic year was over, and we knew we were in danger of losing the space in the theater department (we were up to 1000 students!), I said “we’re doing this” and got together a committee of the club leaders that were interested over the summer to figure out how to do it with the intention of creating something like NYU’s Game Center, but a little broader and actually in Manhattan. That is when we became EGD Collective; half because the domain egdc.org was not available at the time, and half because we were tired of people asking us if we meant the Game Developers Conference.</p>
            <p>Since we were a group of media and computer science students with absolutely no business knowledge and no money, we were struggling to figure out how to navigate everything. We got accepted into the CUNY Startup Accelerator this past spring, and that was when we really figured out exactly what we wanted to do. I had also started speaking a lot more with club leaders from other schools, and realized our experience was not unique.</p>
            <p>Now the plan is to get public-facing, student-led, staff-supported chapters of EGD into state colleges and universities as an extra layer of support for these student organizations alongside programs like Tespa and IGDA. However, we will never forget where we started – which is most apparent in our tagline; “The Care of the Future of Games is Ours”, a spinoff of the Hunter College motto Mihi Cura Futuri.</p>
            </div>
          </div>
          <div class="flexbox vertical start">
            <div class="flexbox vertical center">
              <%= image_tag("/images/changemakers-feature-e.png", class: "framed-element feature-image") %>
              <div class="image-title">Kyra Wills-Umdenstock</div>
              <div class="image-subtitle">EGD Collective CEO</div>
            </div>
            <div class="flexbox vertical center">
              <%= image_tag("/images/changemakers-feature-f.jpg", class: "framed-element feature-image") %>
              <div class="image-title">Huimin Zhuo</div>
              <div class="image-subtitle">EGD Collective COO</div>
            </div>
            <div class="flexbox vertical center">
              <%= image_tag("/images/changemakers-feature-g.jpg", class: "framed-element feature-image") %>
              <div class="image-title">Ben Reuben</div>
              <div class="image-subtitle">EGD Collective CFO</div>
            </div>
          </div>
        </div>
        <div class="pull-quote">
          The EGD Collective is a place where everyone, regardless of what games they play or their relation to&nbsp;the gaming industry, can come together in a welcoming environment.
        </div>
        <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <div class="flexbox vertical start">
            <%= image_tag("/images/changemakers-feature-m.jpg", class: "framed-element feature-image wide") %>
            <%= image_tag("/images/changemakers-feature-j.jpg", class: "framed-element feature-image wide") %>
          </div>
          <div class="qa-subsection medium">
            <p><strong>What kinds of programs does the EGD Collective run?</strong></p>
            <p>We are a very interdisciplinary gaming organization, and as such we run many different types of programs. The main component of our chapter program has student officers planning their own activities and events in the areas they represent, and it all happens at the same time in the same space. Within the Hunter College chapter, tournaments, game design workshops, meta comp discussion groups, D&D campaigns, and more are on rotation with at least 3 different options each week, and if anyone isn’t feeling it, there’s a game library with over 600 games people can borrow - from the N64 to the PS4, board games, card games, tabletop RPGs, puzzles, Sudoku, even Tamagotchi. There are also textbooks available for most classes in games-adjacent departments, reference books, game guides, novels, and manga. Chapters run their schools esports teams, as well.</p>
            <p>At the broader level we have offer the Game Studio Program and Esports Management Program which are fellowships for students interested in studying game development or esports management. These programs are chapter or university system-based, depending on the infrastructure and course offerings available to students at their college. It is an academic program and project incubator wrapped into one! Students are able to focus their study in a highly individualized program, build their portfolio alongside a studio team in GSP or work with a college esports team in EMP, attend industry events, and get a feel for what it's really like to work in games.</p>
            <p>The flagship event we run every year is the Waffle Games, the only 100% free gaming convention and conference of its size and scope! It is a collaborative effort between student leaders and us at HQ to redefine what it means to be involved in games and their communities. The mission of the conference is to make the games industry a more affordable and accessible career path and to promote affordable games industry education. All attendees, speakers, exhibitors, and volunteers can access the entire event for free, and we especially encourage students, faculty, and local studios to showcase their research, skills, and game projects Yes, there are free waffles.</p>
            <p>Lastly, we at HQ run our own public events and projects. We’ve held workshops like PASS IT! (or Prevention, Advocacy, and Support for Students) that prepare student leaders to safely and effectively handle crisis issues they may be faced with, and held pop-up events at places around the NYC gaming community like our 3rd birthday celebration at Wonderville. This past May due to COVID-19 we put together a virtual graduation ceremony for the next generation of players, developers, designers, and industry professionals broadcasted on Twitch that featured people from across the industry sending their wishes and had commencement addresses from the Executive Directors of IGDA and Take This, as well as the CEO of Team Liquid.</p>
          </div>
        </div>
        <div class="pull-quote">
          We’re fighting for people to recognize games’ value to society, and by extension, our own. We’re channeling that “gamers rise up” energy into something positive.
        </div>
        <div class="flexbox horizontal center wrap justify-space-between">
          <div class="flexbox vertical start">
            <div class="qa-subsection medium">
              <p><strong>Tell us more about the EGD Collective community! What kinds of students participate in your programs?</strong></p>
              <p>To our organization, there are no requirements for being a true “gamer”. By playing games, you are already a gamer. This is what I think makes our spaces very unique.</p>
              <p>We have students who are really hardcore into Call of Duty or majoring in game development, but we also have students who are pre-med students who miss Nintendogs, English majors who come to play Scrabble, and aspiring software engineers that are using games as a way to practice their coding skills. Students often teach each other how to play Magic: The Gathering, and our Dance Dance Revolution mats are going to need to be replaced soon! Some students just come by the office to grab a can of Game Fuel before heading to class.</p>
              <p>We also house the wider community – faculty and local professionals often stop by. We’ve even had campus Public Safety officers come by the Hunter College chapter’s club fair table to pick up some League of Legends champion pack codes or pop in to play GTA San Andreas. Because of it, we attract a wide variety of people, personalities, and interests - so our clientele is truly as diverse as it gets.</p>
            </div>
            <div class="qa-subsection medium">
              <p><strong>What do the students tend to get the most excited about?</strong></p>
              <p>Being a part of something big. Whether it’s going to the largest Global Game Jam site in the US, the NY Renaissance faire, or exhibiting their game at Waffle Games, these are experiences that are larger than life and you can’t imagine them until they happen. Then you don’t hear about anything else for a month except for how cool it was and how they can’t wait for next year!</p>
              <p>Also, simply the idea of being a part of a movement that’s larger than themselves or overcoming adversity. When the club was denied, it was very “viva la resistance” around here, and it very much still is. We’re fighting for people to recognize games value to society, and by extension, our own. We’re channeling that “gamers rise up” energy into something positive.</p>
            </div>
          </div>
          <div class="flexbox vertical start">
            <%= image_tag("/images/changemakers-feature-h.jpg", class: "framed-element feature-image wide") %>
            <%= image_tag("/images/changemakers-feature-i.jpg", class: "framed-element feature-image wide") %>
          </div>
        </div>
        <div class="pull-quote">
          Holding each other accountable is the first step towards creating a better industry for all of us.
        </div>
        <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <div class="flexbox vertical start">
            <%= image_tag("/images/changemakers-feature-n.jpg", class: "framed-element feature-image wide") %>
            <%= image_tag("/images/changemakers-feature-o.jpg", class: "framed-element feature-image wide") %>
          </div>
          <div class="qa-subsection medium">
            <p><strong>Can you tell us any stand-out stories about students who have been helped by the work you all are doing?</strong></p>
            <p>I remember right after my first year running the Game Studio Program, one student got a games internship at Kickstarter straight out of her freshman year and told me that she was pretty sure being a part of GSP was the reason. Although she’s majoring in computer science, she participates in GSP as an artist and it’s allowed her to continue her creative work while pursuing software engineering. I think that was the first experience I had that truly made me understand the power I had to help people even though I myself didn’t have a degree yet and was only 20 years old when I started that program.</p>
            <p>I have one student in particular who just began his junior year and I’ve had him since his first few weeks of freshman year. He was very active in all aspects of the organization from day one, he is also a part of GSP, was on the varsity Overwatch team, DMed for a D&D campaign, and attended our Friday night events religiously. He assumed an officer position last year within the Hunter chapter, at which point he told me that EGD had opened up doors that he couldn’t have dreamt of, helped him socialize, gave him hope that he actually could accomplish what he wanted to do in life, and that he could be happy with who he was.</p>
            <p>I’d spoken with him at length, and he also told me that he was heavily considering dropping out of college during his freshman year, and that EGD was the sole reason he did not. He’s now one of the first students going on track to receive a degree in game narrative through GSP by our new process of using the CUNY BA program. He took over as the vice-president for this academic year, and I can’t wait to see what he does.</p>
            <p>Lastly, this past summer we took on quite a few remote interns during the quarantine. I received a message from a recently departed intern from the University of Pittsburgh asking to connect on LinkedIn. She told me that EGD restored her faith in the people that make up the world of gaming and that she doesn’t know if she would still be playing games or looking at work in the field if it weren't for us. Another intern from the summer attending community college in California told me she got into the final interview round for a job at Razer and that she spent every interview talking about how great of an experience it was and how much she learned.</p>
          </div>
        </div>
        <div class="pull-quote">
          EGD had opened up doors that he couldn’t have dreamt of, helped him socialize, gave him hope that he actually could accomplish what he wanted to do in life.
        </div>
         <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <div class="qa-subsection medium">
            <p><strong>What are the EGD Collective’s long-term goals?</strong></p>
            <p>The chapter program is our long-term goal. Imagine if every community college or public university had a community center for gamers and the industry? I also think the student-led, staff-supported aspect of these chapters is extremely important.</p>
            <p>We often times see college administrations take away the power from the student that worked to get their organizations to where they are when they start varsity esports programs, and the learning experiences involved in running these organizations are invaluable – however, and especially at community colleges, the turnover rate of student leaders is extremely fast, clubs die off when they can’t find someone to take their place, and student leaders aren’t licensed therapists or financial aid advisors. And in public institutions, students are often working multiple jobs, paying their parents rent, and might even have dependent children of their own.</p>
              <p>Our model takes all of this into account to create spaces where students are supported in every aspect of their life, because they won’t succeed academically if you ignore these factors. By supporting these students, we can get better games and bring about change to our industry. Democratize games!</p>
          </div>
          <%= image_tag("/images/changemakers-feature-l.jpg", class: "framed-element feature-image wide") %>
        </div>
        <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <%= image_tag("/images/changemakers-feature-p.jpg", class: "framed-element feature-image wide") %>
          <div class="qa-subsection medium">
            <p><strong>What do you hope to see more of in gaming and the game industry 10 years from now?</strong></p>
            <p>I’d love to see new successful IP coming from outside the giants that eventually evolve into new AAA studios. Also, better working conditions and less toxic solo queues. Gamers, streamers, studios, publishers: we shouldn’t be making negative headlines as often as we are. If we want what we love to be taken seriously, we need to do better. Holding each other accountable is the first step towards creating a better industry for all of us.</p>
          </div>
        </div>
        <div class="pull-quote">
          Times are changing. Games belong to everyone now. You’re never too young or too inexperienced to try to tackle something big.
        </div>
        <div class="flexbox horizontal center wrap-reverse justify-space-between">
          <div class="qa-subsection medium">
            <p><strong>What advice would you give to marginalized student gamers outside of the CUNY system?</strong></p>
            <p>Times are changing. You might not feel it because it’s a slow process, but gaming is more mainstream than ever before. Games belong to everyone now. I think the most important thing to remember is that it is not your responsibility to educate.</p>
            <p>Being an activist should not be the price you pay for existing. If educating people is something you feel comfortable doing, then do it. Being visible, speaking up, and helping people learn is such an important thing to do. But, at no point should you feel obligated to put yourself in an unsafe situation, and take care of yourself first. Those of us who can will keep at it. Make sure people respect your boundaries.</p>
            <p>And for anyone trying to get into the industry, just do the thing. That’s the best advice I can give. It sounds so simple, but people don’t usually follow it. Everything I’ve done has been because I didn’t know what the word “can’t” meant.</p>
            <p>You’re never too young or too inexperienced to try to tackle something big. Creating your own experience is also just as valid. Google is your best friend, learn from every experience, and when people tell you no, figure out alternatives. Even if you fail, you get up, try again, and you’ll be left with loads of experiences you can apply to wherever you end up next.</p>
          </div>
          <div class="flexbox vertical start">
            <%= image_tag("/images/changemakers-feature-q.jpg", class: "framed-element feature-image wide") %>
            <%= image_tag("/images/changemakers-background-a.jpg", class: "framed-element feature-image wide") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sponsors-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox horizontal center wrap justify-space-around">
          <div class="sponsors-subsection flexbox vertical stretch">
            <div class="section-title">Changemaking sponsors</div>
            <div class="flexbox vertical">
              <p>AnyKey’s inaugural Changemakers Grant has been made possible thanks to the generous support of the U.S. Air Force and ESL.</p>
            </div>
          </div>
          <div class="flexbox horizontal center wrap justify-space-around">
            <%= link_to(image_tag("/images/airforce-logo-white.svg", class: "sponsorship-logo large", size: "156x120"), "https://www.airforce.com") %>
            <%= link_to(image_tag("/images/esl-logo-white.svg", class: "sponsorship-logo large", size: "202x62"), "https://www.eslgaming.com") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
