<div id="keystone-code" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Keystone Code
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        Code of conduct for any community
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>At AnyKey we are dedicated to fostering respectful, enjoyable, and harassment-free gaming experiences for everyone regardless of sex, gender identity and expression, sexual orientation, race, ethnicity, disability, physical appearance, body size, age, or religion.</p>
        </div>
        <%= image_tag("/images/keystone-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <div class="values-box">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap.svg") %>
            <div class="heading">Compassion</div>
          </div>  
          <p>Treat others as you would be treated; consider the perspectives of others.</p>
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-orange.svg") %>
            <div class="heading">Integrity</div>
          </div>
          <p>Be honest, be committed, play fair.</p>
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-fuchsia.svg") %>
            <div class="heading">Respect</div>
          </div>  
          <p>Respect all other humans, teammates and competitors alike.</p>
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-blue.svg") %>
            <div class="heading">Courage</div>
          </div>
          <p>Be courageous in competition and in standing up for what is right.</p>
        </div>
        <div class="values-section">
          <div class="section-title">Four fundamental values</div>
          <p>Our Keystone Code identifies four fundamental values as guides for positive and fulfilling engagement in gaming spaces, even while players compete with one another.</p>
          <p>These values can be observed being put into practice in all of the healthiest online communities.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="action-section">
          <div class="section-title">Putting values into action</div>
          <p>The four Keystones shape our understanding of how people can comport themselves and interact with one another to foster positive communities where players from all walks of life can feel welcome. This is what the Keystones look like in practice.</p>
        </div>
        <%= image_tag("/images/keystone-feature-b.jpg", class: "framed-element feature-image action-image") %>
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="value-subsection">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap.svg") %>
            <div class="subsection-title">Compassion</div>
          </div>
          <p>You value the diverse perspectives, backgrounds, and opinions of others, even when different from your own. You appreciate that all viewpoints come from the life experiences of fellow human beings. You understand that online interactions impact real people in real ways, both offline and online.</p>
        </div>
        <div class="value-subsection">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-orange.svg") %>
            <div class="subsection-title">Integrity</div>
          </div>
          <p>You behave honorably and honestly. You take responsibility for your words and actions. While playing games, you honor the rules and spirit of honest competition.</p>
        </div>
        <div class="value-subsection">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-fuchsia.svg") %>
            <div class="subsection-title">Respect</div>
          </div>
          <p>You respect everyone regardless of their background, identity, physical appearance, or beliefs. Even in competitive gaming where “trash-talk” is common, you are a good sport and respect opponents as fellow human beings, keeping the banter to the game, not ever making it personal.</p>
        </div>
        <div class="value-subsection">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-blue.svg") %>
            <div class="subsection-title">Courage</div>
          </div>
          <p>You have the courage to moderate your own behavior, speak out against harassment, and report violations by others. You do not tolerate harassment or hate speech of any kind, even when you are not directly involved.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="download-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Download the code!</div>
          <div class="text-section flexbox vertical flex-1">
            <p>About the stuff.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical center">
      <div class="flexbox horizontal center wrap justify-space-between">
        <%= image_tag("/images/keystone-poster-preview.png", class: "framed-element download-preview") %>
        <div class="download-subsection flexbox vertical start">
          <div class="section-title">Printable Poster</div>
          <div class="text-section">     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p> 
          </div>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'KeystoneCode', 'event_label': 'Poster'});">
            <span class="icon">&#xf02f;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Poster</span>
              <span class="title">Keystone Code Wall Hanging (11"x17")</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical center">     
      <div class="flexbox horizontal center wrap justify-space-between">
        <%= image_tag("/images/keystone-contract-preview.png", class: "framed-element download-preview") %>
        <div class="download-subsection flexbox vertical start">
          <div class="section-title">Signable Contract</div>
          <div class="text-section">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <a href="" class="resource flexbox horizontal center" target="_blank" onClick="gtag('event', 'Download', {'event_category': 'KeystoneCode', 'event_label': 'Handout'});">
            <span class="icon">&#xf56c;</span>
            <span class="flexbox vertical start">
              <span class="description">Download Handout</span>
              <span class="title">Keystone Code Contract (8.5"x11")</span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  <div id="adopters-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Adherents to the code</div>
          <div class="text-section flexbox vertical flex-1">
            <p>Everyone who's adopted the Keystone Code.</p>
          </div>
        </div>
        <div class="flexbox horizontal center wrap justify-space-around">
          <%= link_to(image_tag("/images/aqualix-esports-logo-white.svg", class: "adopter-logo", size: "190x100"), "https://aqualix.gg/") %>
          <%= link_to(image_tag("/images/egaa-logo-white.svg", class: "adopter-logo", size: "200x55"), "https://www.egaa.com.au/") %>
          <%= link_to(image_tag("/images/esl-logo-white.svg", class: "adopter-logo", size: "202x62"), "https://www.eslgaming.com") %>
          <%= link_to(image_tag("/images/rhythm-game-community-logo-white.svg", class: "adopter-logo", size: "120x120"), "https://discord.com/invite/UhWrcz8") %>
          <%= link_to(image_tag("/images/rsaa-logo-white.svg", class: "adopter-logo", size: "240x69"), "https://rsaa.riotgames.com/") %>
          <%= link_to(image_tag("/images/uci-esports-logo-white.svg", class: "adopter-logo", size: "100x140"), "https://esports.uci.edu/") %>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section flexbox vertical center">
    <div class="inner flexbox vertical start">
      <div class="section-title">Defining harassment &amp; discrimination</div>
      <div class="flexbox horizontal start wrap justify-space-between">
        <div class="enforcement-section flexbox vertical center flex-1">
          <p>We do not tolerate harassment or hate speech in any form. Anyone violating these rules in our related communities and spaces will be dealt with at the discretion of activity organizers and stream moderators, and may include being banned from online channels and/or removed from events.</p>
          <p>All of our <%= link_to "affiliates", affiliates_path, class: "inline" %> have agreed to join us in supporting the Keystone Code in their communities, and we invite you and your communities to join us, too!</p>
          <p>If you have questions please <%= link_to("contact us", contact_path,  class: "inline") %>. And if you see someone causing trouble in a stream, please file a report so that our moderation team can review the situation.</p>
          <%= link_to("File a Report", new_report_path, class: 'report-button button', onClick: "gtag('event', 'ButtonClick', {'event_category': 'Report', 'event_label': 'KeystoneCTA'});") %>
        </div>
        <div class="definitions-section flexbox vertical start">
          <p><strong>Harassment means actions such as:</strong></p>
          <ul>
            <li>Discrimination, hate speech, offensive behavior, or verbal abuse related to sex, gender identity and expression, sexual orientation, race, ethnicity, disability, physical appearance, body size, age, or religion</li>
            <li>Stalking or intimidation either physically or online</li>
            <li>Spamming, raiding, hijacking, or inciting disruption of streams or social media</li>
            <li>Posting or threatening to post other people’s personally identifying information (“doxing”)</li>
            <li>Unwelcome sexual attention including sexualized comments, jokes, and sexual advances</li>
            <li>Advocating for, or encouraging, any of the above behavior</li>
          </ul>
          <p><strong>Discrimination also includes:</strong></p>
          <ul>
            <li>Sharing hurtful or mean-spirited memes</li>
            <li>Making casually bigoted comments or jokes (e.g. “that’s so gay”, “you play like a girl”, etc.)</li>
            <li>Trash-talking in a way that focuses on someone’s personal traits instead of on their gaming skill</li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
</div>