<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="session-box flexbox vertical stretch">
      <form action="<%= user_password_path %>" id="edit_user_password" method="POST" enctype="multipart/form-data" class="flexbox vertical stretch">      
        <div style="hidden">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="put">
          <input type="hidden" name="user[reset_password_token]" value="<%= @user.reset_password_token %>" id="user_reset_password_token">
        </div> 
        <div class="title">
          Change your password
        </div>
        <% devise_error_messages! %>
        <%= display_alerts %>
        <div class="item flexbox vertical stretch">
          <input id="user_password" name="user[password]" class="text-field" type="password" value="<%= @user.password %>" autocomplete="off" tabindex="1">
          <label for="user_password" class="text-field">New Password</label>
        </div>
        <div class="item flexbox vertical stretch">
          <input id="user_password_confirmation" name="user[password_confirmation]" class="text-field" type="password" value="<%= @user.password_confirmation %>" autocomplete="off" tabindex="2">
          <label for="user_password_confirmation" class="text-field">Confirm Password</label>
        </div>
        <div class="last-item flexbox horizontal center justify-space-between">
          <%= link_to("Know your password?", new_user_session_path, class: "stealth") %>
          <input id="user_password_submit" name="commit" type="submit" class="button left-padded" value="Confirm" tabindex="3">
        </div>
      </form>
    </div>
  </div>
</div>
