<div class="page-section flexbox vertical stretch">
  <div class="inner flexbox vertical center">
    <div class="session-box flexbox vertical stretch">
      <form action="<%= user_password_path %>" id="new_user_password" method="POST" enctype="multipart/form-data" class="flexbox vertical stretch">
        <div style="hidden">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        </div> 
        <div class="title">
          Forgot your password?
        </div>
        <% devise_error_messages! %>
        <%= display_alerts %>
        <div class="item flexbox vertical stretch">
          <input id="user_email" name="user[email]" class="text-field" type="text" value="<%= @user.email %>" tabindex="1" autofocus>
          <label for="user_email" class="text-field">Email</label>
        </div>
        <div class="last-item flexbox horizontal center justify-space-between">
          <%= link_to("Know your password?", new_user_session_path, class: "stealth") %>
          <input id="user_password_submit" name="commit" type="submit" class="button left-padded" value="Send Reset" tabindex="2">
        </div>
      </form>
    </div>
  </div>
</div>