<div id="about" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            About AnyKey
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        We advocate for diversity,<br>inclusion, and equity in gaming
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>AnyKey is an non-profit organization that advocates for diversity, inclusion, and equity in gaming &amp; streaming. We amplify, connect, and empower marginalized players and their allies through research and strategic initiatives.</p>
        </div>
        <%= image_tag("/images/about-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="objective-section">
          <div class="subsection-title">Our Vision</div>
          <p>Anybody should feel welcome in gaming, everybody ought to be meaningfully included, and all people deserve to be fairly represented.</p>
        </div>
        <div class="objective-section">
          <div class="subsection-title">Our Mission</div>
          <p>AnyKey's primary objective is to substantially increase diversity, inclusion, and equity in competitive gaming &amp; live streaming.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title centered">
        We are motivated by the dream of seeing the rainbow of humanity celebrated on the world’s largest gaming stages
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="goal-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-orange.svg") %>
            <div class="subsection-title">Diversity Goal</div>
          </div>
          <p>Increase the percentage of marginalized people represented in gaming &amp; streaming.</p>
          <p>This means women, players of color, LGBTQ+ folks, players with disabilities, and gamers over 35 should be invited to play, spectate, compete, and build communities.</p>
        </div>
        <div class="goal-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-fuchsia.svg") %>
            <div class="subsection-title">Inclusion Goal</div>
          </div>  
          <p>Improve the quality of participation for marginalized gamers &amp; streamers.</p>
          <p>This means ensuring that when we invite people to join our gaming spaces they feel welcome and valued when they participate.</p>
        </div>
        <div class="goal-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/anykey-cap-blue.svg") %>
            <div class="subsection-title">Equity Goal</div>
          </div>
          <p>Provide opportunities and resources for marginalized community members.</p>
          <p>This means making material contributions that impact players, casters, streamers, community builders, tournament organizers, and industry professionals.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">   
        <%= image_tag("/images/about-feature-b.jpg", class: "framed-element feature-image") %>
        <div class="strategy-section flexbox vertical start">
          <div class="section-title">
            Our strategic approach
          </div>
          <div>
            <p>Our research-driven initiatives are designed to reduce intersectional obstacles and provide supportive resources for marginalized players and inclusive communities.</p>
            <p>All AnyKey programs are guided by three strategic pillars that have emerged from our years of ethnographic research in gaming communities.</p>
          </div>
        </div>
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/amplify-icon.svg") %>
          <div class="subsection-title">Amplify</div>
        </div>
          <p>Highlight those blazing a trail in the gaming community through content, videos, grants, articles, showcases, and tournaments.</p>
          <p>Our Affiliate program, Spotlight series, and Changemakers Grant amplify the efforts of role models making gaming spaces more representative, inclusive, and equitable.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/connect-icon.svg") %>
            <div class="subsection-title">Connect</div>
          </div>
          <p>Create meaningful opportunities for under-represented groups to meet and network at important gaming events.</p>
          <p>Our Squad Building events and Inclusion Lounges facilitate conversations between marginalized gamers, creating crucial connections for career support.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/empower-icon.svg") %>
            <div class="subsection-title">Empower</div>
          </div>
          <p>Advance positivity in gaming through social initiatives, educational tools, and insightful research.</p>
          <p>Our GLHF Pledge, Keystone Code, and Inclusion 101 curriculum empower people with the knowledge and skills to make their own spaces more inclusive.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="get-involved-section" class="flexbox vertical center">
    <div class="page-section flexbox vertical stretch">
      <div class="inner flexbox vertical stretch">
        <div class="flexbox vertical stretch">
          <div class="section-title">Get involved with AnyKey</div>
          <div class="flexbox horizontal center wrap justify-space-between">
            <a href="<%= work_with_us_path %>" class="action flexbox horizontal center">
              <span class="icon">&#xf4c4;</span>
              <span class="flexbox vertical start">
                <span class="title">Work With Us</span>
                <span class="description">Sponsor, hire, partner, or volunteer with us</span>
              </span>
            </a>
            <a href="<%= donate_path %>" class="action flexbox horizontal center">
              <span class="icon">&#xf4c0;</span>
              <span class="flexbox vertical start">
                <span class="title">Donate</span>
                <span class="description">Contribute funds directly to our cause</span>
              </span>
            </a>
            <a href="<%= contact_path %>" class="action flexbox horizontal center">
              <span class="icon">&#xf4ad;</span>
              <span class="flexbox vertical start">
                <span class="title">Reach Out</span>
                <span class="description">Send an email or message us on socials</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title flush-bottom">
        Meet the AnyKey squad
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/romine.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Morgan Romine, Ph.D.</div>
          <div class="flexbox horizontal center wrap">
          <div class="teammate-subtitle">Founder &amp; Director of Initiatives</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/rhoulette")%>
            </div>
          </div>
          <div class="teammate-text">
            Anthropologist, community consultant, and game industry veteran who has spent her career working in esports and community management. Former co-founder and captain of the all-women professional gaming team, the Frag Dolls.
          </div>
        </div>
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/brewer.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Johanna Brewer, Ph.D.</div>
          <div class="flexbox horizontal center wrap">
            <div class="teammate-subtitle">Director of Research</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf57d;".html_safe, "http://deadroxy.com/")%>
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/deadroxy")%>
            </div>
          </div>
          <div class="teammate-text">
           Assistant professor of computer science at Smith College who has been working as a technology design activist for over a decade. Founder of several counter-culture startups and co-editor of a forthcoming volume on live streaming.
          </div>
        </div>
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/phan.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Hillary Phan</div>
          <div class="flexbox horizontal center wrap">
            <div class="teammate-subtitle">Assistant Operations Manager</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/Hillabeaaans")%>
            </div>
          </div>
          <div class="teammate-text">
            Committed to raising the standard and making the world a better place.
          </div>
        </div>
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/chow.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Emily Chow</div>
          <div class="flexbox horizontal center wrap">
          <div class="teammate-subtitle">Advisory Committee Chair</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/Emlarr")%>
            </div>
          </div>
          <div class="teammate-text">
            Veteran esports project manager and outspoken advocate for diversity &amp; inclusion in gaming. Former fighting games tournament administrator and Soul Calibur competitor.
          </div>
        </div>
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/siegal.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Meg Siegal</div>
          <div class="flexbox horizontal center wrap">
          <div class="teammate-subtitle">Advisory Committee Member</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf57d;".html_safe, "https://www.megsiegal.com")%>
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/megsiegal")%>
            </div>
          </div>
          <div class="teammate-text">
            Director of Product Marketing at Context Labs. Emmy award-winning creative director and brand innovator known for her work building nationwide advocacy campaigns.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal start wrap justify-space-around">   
        <div class="history-section flexbox vertical start">
          <div class="section-title">
            Our history &amp; philosophy
          </div>
          <div>
            <p>AnyKey was founded in 2015 by Dr. Morgan Romine and Dr.&nbsp;T.L. Taylor with the goal of building a more inclusive and accessible esports world for all.</p>
            <p>Since that inception, AnyKey has become the leading advocacy organization for inclusion and diversity in competitive gaming &amp; live streaming.
          </div>
        </div>
        <%= image_tag("/images/about-feature-c.jpg", class: "framed-element feature-image history-image") %>
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="history-subsection">
          <p>We've propelled change from the start through inclusive awareness campaigns, comfy conference lounges, educational resources, networking events, panels &amp; lectures, peer-reviewed publications, and women's tournaments.</p>
        </div>
        <div class="history-subsection">
          <p>We are committed to a long-term vision of a gaming community that is welcoming to all players, regardless of gender identity, sexual orientation, race, ethnicity, age, disability, religious beliefs, background, or physical appearance.</p>
        </div>
        <div class="history-subsection">
          <p>We believe it is possible to be fiercely competitive while embracing positive play, so we pursue research and initiatives aimed at building a gaming culture in which players are known for their skills, rather than personal traits.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap">
        <div class="flexbox vertical center">
          <%= image_tag("/images/anykey-cap-large.svg", class: "logo-image") %>
          <div class="logo-link">
            View our <%= link_to('Logo Guide', logo_guide_path, class:"inline") %>
          </div>
        </div>
        <div class="logo-section flexbox vertical stretch">
          <div class="section-title">
            Why AnyKey?
          </div>
          <p>Our organization’s name is a playful reference to the phrase “press any key to continue.” For us, it means that anybody should be welcome in gaming.</p>
          <p>Our logo, a mechanical keycap with an equality sign, was designed to represent that elusive key.</p>
          <p>The AnyKey logo is a symbol of respect and inclusion. Whenever you see it out in the wild, know that you're in a welcoming space!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="sponsorship-section flexbox vertical start">
          <div class="section-title">
            Our generous sponsors
          </div>
          <div>
            <p>As a non-profit organization AnyKey relies on funding from industry partners, philanthropic angels, and small donors to achieve our mission. We've been fortunate to collaborate with fantastic sponsors, past and present, who believe in what we do.
          </div>
        </div>
        <%= image_tag("/images/about-feature-d.jpg", class: "framed-element feature-image") %>
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <%= link_to(image_tag("/images/oneoc-logo-black.svg", class: "sponsorship-logo", size: "150x150"), "http://oneoc.org") %>
        <%= link_to(image_tag("/images/esl-logo-black.svg", class: "sponsorship-logo", size: "202x62"), "https://www.eslgaming.com") %>
        <%= link_to(image_tag("/images/intel-logo-black.svg", class: "sponsorship-logo", size: "152x106"), "https://www.intel.com") %>
        <%= link_to(image_tag("/images/oculus-logo-black.svg", class: "sponsorship-logo", size: "134x100"), "https://www.oculus.com") %>
      </div>
    </div>
  </div>
</div>