<div id="about" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            About AnyKey
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        We advocate for diversity,<br>inclusion, and equity in gaming
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>AnyKey is an advocacy group that supports diversity, inclusion, and equity in competitive gaming. We amplify, connect, and empower marginalized players and their allies through research and strategic initiatives.</p>
        </div>
        <%= image_tag("/images/about-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="objective-section">
          <div class="subsection-title">Our Vision</div>
          <p>Anybody should feel welcome in gaming, everybody ought to be meaningfully included, and all people deserve to be fairly represented.</p>
        </div>
        <div class="objective-section">
          <div class="subsection-title">Our Mission</div>
          <p>AnyKey's primary objective is to substantially increase diversity, inclusion, and equity in competitive gaming.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title centered">
        We are motivated by the dream of seeing the rainbow of humanity celebrated on the world’s largest esports stages
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="goal-section">
          <div class="subsection-title">Diversity Goal</div>
          <p>Increase the percentage of marginalized people represented and participating in competitive gaming.</p>
          <p>This means that players of all kinds - including women, players of color, LGBTQ+ folk, players with disabilities, and gamers over 35 - should be invited to play, spectate, compete, and build community in gaming spaces.</p>
        </div>
        <div class="goal-section">
          <div class="subsection-title">Inclusion Goal</div>
          <p>Improve the quality of meaningful participation in gaming spaces for marginalized players.</p>
          <p>This means that we can’t stop at inviting a more diverse range of people into gaming spaces; we must work to make sure people feel welcome and valued when they participate.</p>
        </div>
        <div class="goal-section">
          <div class="subsection-title">Equity Goal</div>
          <p>Provide opportunities and supportive resources for marginalized community members, including players, casters, streamers, community builders, tournament organizers, and industry professionals.</p>
          <p>This means that we hope to see a future of fair play in gaming that includes more equitable opportunities for marginalized folks.</p>
        </div>   
      </div>
    </div>
  </div>

  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">   
        <%= image_tag("/images/about-feature-b.jpg", class: "framed-element feature-image") %>
        <div class="strategy-section flexbox vertical start">
          <div class="section-title">
            Our strategic approach
          </div>
          <div>
            <p>Our research-driven initiatives are designed to reduce intersectional obstacles and provide supportive resources for marginalized players and inclusive communities.</p>
            <p>All AnyKey programs are guided by three strategic pillars that have emerged from our years of ethnographic research in gaming communities.</p>
          </div>
        </div>
      </div>
      
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/amplify-icon.svg") %>
          <div class="subsection-title">Amplify</div>
        </div>
          <p>Highlight those blazing a trail in the gaming community through content, spotlights, videos, articles, and tournaments.</p>
          <p>The AnyKey Affiliate program, Spotlight series, and Intel Challenge tournaments are all initiatives that amplify the efforts of role models already working hard to make their gaming spaces more representative, inclusive, and equitable.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/connect-icon.svg") %>
            <div class="subsection-title">Connect</div>
          </div>
          <p>Create meaningful opportunities for under-represented groups to meet and network at some of the country’s largest gaming events.</p>
          <p>The AnyKey Women in Esports networking events and AnyKey Lounges are initiatives that help to facilitate important conversations between marginalized members of gaming spaces, and create meaningful connections for community and career support.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/empower-icon.svg") %>
            <div class="subsection-title">Empower</div>
          </div>
          <p>Advance a more positive gaming community through social initiatives and the creation of educational tools and research.</p>
          <p>The AnyKey GLHF Pledge, Keystone Code, and white papers give people ways to show their support for diverse communities, while providing valuable knowledge to help them to make their own spaces more inclusive.</p>
        </div>
      </div>
      
    </div>
  </div>  
      
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">    
      

 
    </div>
 </div>
   
</div>