<div id="about" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            About AnyKey
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        We advocate for diversity,<br>inclusion, and equity in gaming
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="intro-section">
          <p>AnyKey is an advocacy group that supports diversity, inclusion, and equity in competitive gaming. We amplify, connect, and empower marginalized players and their allies through research and strategic initiatives.</p>
        </div>
        <%= image_tag("/images/about-feature-a.jpg", class: "framed-element feature-image") %>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="objective-section">
          <div class="subsection-title">Our Vision</div>
          <p>Anybody should feel welcome in gaming, everybody ought to be meaningfully included, and all people deserve to be fairly represented.</p>
        </div>
        <div class="objective-section">
          <div class="subsection-title">Our Mission</div>
          <p>AnyKey's primary objective is to substantially increase diversity, inclusion, and equity in competitive gaming.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title centered">
        We are motivated by the dream of seeing the rainbow of humanity celebrated on the world’s largest esports stages
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="goal-section">
          <div class="subsection-title">Diversity Goal</div>
          <p>Increase the percentage of marginalized people represented and participating in competitive gaming.</p>
          <p>This means that players of all kinds - including women, players of color, LGBTQ+ folk, players with disabilities, and gamers over 35 - should be invited to play, spectate, compete, and build community in gaming spaces.</p>
        </div>
        <div class="goal-section">
          <div class="subsection-title">Inclusion Goal</div>
          <p>Improve the quality of meaningful participation in gaming spaces for marginalized players.</p>
          <p>This means that we can’t stop at inviting a more diverse range of people into gaming spaces; we must work to make sure people feel welcome and valued when they participate.</p>
        </div>
        <div class="goal-section">
          <div class="subsection-title">Equity Goal</div>
          <p>Provide opportunities and supportive resources for marginalized community members, including players, casters, streamers, community builders, tournament organizers, and industry professionals.</p>
          <p>This means that we hope to see a future of fair play in gaming that includes more equitable opportunities for marginalized folks.</p>
        </div>   
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">   
        <%= image_tag("/images/about-feature-b.jpg", class: "framed-element feature-image") %>
        <div class="strategy-section flexbox vertical start">
          <div class="section-title">
            Our strategic approach
          </div>
          <div>
            <p>Our research-driven initiatives are designed to reduce intersectional obstacles and provide supportive resources for marginalized players and inclusive communities.</p>
            <p>All AnyKey programs are guided by three strategic pillars that have emerged from our years of ethnographic research in gaming communities.</p>
          </div>
        </div>
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/amplify-icon.svg") %>
          <div class="subsection-title">Amplify</div>
        </div>
          <p>Highlight those blazing a trail in the gaming community through content, spotlights, videos, articles, and tournaments.</p>
          <p>The AnyKey Affiliate program, Spotlight series, and Intel Challenge tournaments are all initiatives that amplify the efforts of role models already working hard to make their gaming spaces more representative, inclusive, and equitable.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/connect-icon.svg") %>
            <div class="subsection-title">Connect</div>
          </div>
          <p>Create meaningful opportunities for under-represented groups to meet and network at some of the country’s largest gaming events.</p>
          <p>The AnyKey Women in Esports networking events and AnyKey Lounges are initiatives that help to facilitate important conversations between marginalized members of gaming spaces, and create meaningful connections for community and career support.</p>
        </div>
        <div class="pillar-section">
          <div class="flexbox horizontal center">
            <%= image_tag("/images/empower-icon.svg") %>
            <div class="subsection-title">Empower</div>
          </div>
          <p>Advance a more positive gaming community through social initiatives and the creation of educational tools and research.</p>
          <p>The AnyKey GLHF Pledge, Keystone Code, and white papers give people ways to show their support for diverse communities, while providing valuable knowledge to help them to make their own spaces more inclusive.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal start wrap justify-space-around">   
        <div class="history-section flexbox vertical start">
          <div class="section-title">
            Our history
          </div>
          <div>
            <p>AnyKey was founded in 2015 to foster change and break down intersectional barriers in gaming through innovative and impactful programs which build a more inclusive and accessible esports world for all.</p>
          </div>
        </div>
        <%= image_tag("/images/about-feature-c.jpg", class: "framed-element feature-image history-image") %>
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="history-subsection">
          <p>AnyKey was formed under the leadership of Dr. Morgan Romine and Dr. T.L. Taylor with the sponsorship of ESL and Intel. Our founders were driven to create an advocacy organization supporting diverse participation in esports.</p>
          <p>Since its inception, AnyKey has propelled change through the creation of women-focused events, lounges, panels, and encouraged over 200,000 people to sign the GLHF Pledge, a commitment to make gaming better by being a good sport in competition and a good digital citizen in the community.</p>
        </div>
        <div class="history-subsection">
          <p>AnyKey is committed to a long-term vision of a gaming community that is welcoming to all players, regardless of gender identity, sexual orientation, race, ethnicity, age, disability, religious beliefs, background, or physical appearance.</p>
          <p>We believe it is possible to be fiercely competitive and embrace positive play at the same time. To realize that vision, we pursue research and implement initiatives aimed at building a gaming culture in which players are known for their skills, rather than personal traits.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="section-title flush-bottom">
        Meet the AnyKey Team
      </div>
      <div class="flexbox horizontal start wrap justify-space-around">
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/romine.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Morgan Romine, Ph.D.</div>
          <div class="flexbox horizontal center wrap">
          <div class="teammate-subtitle">Director of Initiatives</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/rhoulette")%>
            </div>
          </div>
          <div class="teammate-text">
            Anthropologist, community consultant, and game industry veteran who has spent her career working in esports and community management. She was co-founder and captain of the all-women professional gaming team, the Frag Dolls. Romine has a PhD in cultural anthropology from UC Irvine, and she has researched online gaming, esports, social equity, and game design cultures.
          </div>
        </div>
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/taylor.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">T.L. Taylor, Ph.D.</div>
          <div class="flexbox horizontal center wrap">
            <div class="teammate-subtitle">Director of Research</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf57d;".html_safe, "http://tltaylor.com/")%>
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/ybika")%>
            </div>
            <div class="teammate-text">
              Professor at MIT and sociologist whose work has focused on gaming. She is the author of Raising the Stakes: E-sports and the Professionalization of Computer Gaming (MIT Press, 2012) which examines the rise of esports and Watch Me Play: Twitch and the Rise of Game Live Streaming (Princeton University Press, 2018).
            </div>
          </div>
        </div>
        <div class="teammate-section flexbox vertical stretch">
          <div class="flexbox vertical start">
            <%= image_tag("/images/brewer.jpg", class: "teammate-image") %>
          </div>
          <div class="teammate-title">Johanna Brewer, Ph.D.</div>
          <div class="flexbox horizontal center wrap">
            <div class="teammate-subtitle">Research Associate</div>
            <div class="teammate-links flexbox horizontal center wrap">
              <%= link_to("&#xf57d;".html_safe, "http://deadroxy.com/")%>
              <%= link_to("&#xf099;".html_safe, "https://twitter.com/deadroxy")%>
            </div>
          </div>
          <div class="teammate-text">
            Designer, developer, ethnographer, and entrepreneur whose work focuses on building inclusive media platforms. Johanna is an associate at MIT and co&#8209;founder of Neta Snook, a research & design studio. Formerly, Johanna led the teams behind frestyl, a live music discovery service, and Rhomby, a smart home presence-awareness system.
          </div>
        </div>  
      </div>  
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <%= image_tag("/images/anykey-cap-512.svg", class: "logo-image") %>
        <div class="logo-section flexbox vertical stretch">
          <div class="section-title">
            Why AnyKey?
          </div>
          <p>Our organization’s name is a playful reference to the phrase “press any key to continue.” We chose that handle because we believe that anybody should be welcome in gaming.</p>
          <p>Our logo, a mechanical keycap with an equality sign on top, was designed as a literal representation of that elusive key.</p>
          <p>We created the AnyKey to be a universal symbol of respect and inclusion. Whenever you see it out in the wild, know that you're in a welcoming space!</p>
        </div>
      </div>
    </div>
  </div>
</div>