<div id="logo-guide" class="flexbox vertical center"> 
  <div class="page-header flexbox vertical center">
    <div class="inner flexbox vertical flex-1">
      <div class="flexbox horizontal center flex-1">
        <div class="title flexbox vertical start">
          <div class="line-a">
            Logo Guide
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="page-section flexbox vertical stretch flex-1">
    <div class="inner flexbox vertical stretch">
      <div class="headline">
        AnyKey assets and brand identity guide
      </div>
      <div class="flexbox horizontal center wrap justify-space-around">      
        <div class="intro-section">
          <p>Our name, a playful reference to the phrase “press any key to continue,” was chosen to convey the idea that anybody should be welcome in gaming.</p>
          <p>Our logo, a mechanical keycap with an equality sign, was designed to represent that elusive key.</p>
          <p>The AnyKey logo is meant to be universal symbol of respect and inclusion. We ask anyone who uses it as a sign of welcome to follow a few simple guidelines.</p>
        </div>
        <div class="logo-schematic">
          <%= image_tag("/images/anykey-logo-schematic.png") %>
        </div>  
      </div>  
    </div>
  </div>
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap-reverse justify-space-around">
        <div class="flexbox horizontal center wrap justify-space-around">
          <div class="flexbox vertical start">
            <div class="flexbox vertical center">
              <div class="downloadable-logo white-background">
                <%= image_tag("/images/anykey-logo-black.png") %>
              </div>
              <div class="logo-links">
                <%= link_to("EPS", image_path("/images/anykey-logo-black.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-logo-black.png"), class: "inline", target: "_blank") %>
              </div>
            </div>
            <div class="flexbox vertical center">
              <div class="downloadable-logo black-background">
                <%= image_tag("/images/anykey-logo-white.png") %>
              </div>
              <div class="logo-links">
                <%= link_to("EPS", image_path("/images/anykey-logo-white.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-logo-white.png"), target: "_blank", class: "inline") %>
              </div>
            </div>
            <div class="flexbox vertical center">
              <div class="downloadable-logo green-background">
                <%= image_tag("/images/anykey-logo-green.png") %>
              </div>
              <div class="logo-links">
                <%= link_to("EPS", image_path("/images/anykey-logo-green.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-logo-green.png"), target: "_blank", class: "inline") %>
              </div>
            </div>
          </div>
          <div class="flexbox vertical start">
            <div class="flexbox vertical center">
              <div class="downloadable-cap">
                <%= image_tag("/images/anykey-cap.png") %>
              </div>
              <div class="cap-links">
                <%= link_to("EPS", image_path("/images/anykey-cap.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-cap.png"), class: "inline", target: "_blank") %>
              </div>
            </div>
            <div class="flexbox vertical center">
              <div class="downloadable-cap">
                <%= image_tag("/images/anykey-cap-orange.png") %>
              </div>
              <div class="cap-links">
                <%= link_to("EPS", image_path("/images/anykey-cap-orange.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-cap-orange.png"), class: "inline", target: "_blank") %>
              </div>
            </div>
            <div class="flexbox vertical center">
              <div class="downloadable-cap">
                <%= image_tag("/images/anykey-cap-blue.png") %>
              </div>
              <div class="cap-links">
                <%= link_to("EPS", image_path("/images/anykey-cap-blue.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-cap-blue.png"), class: "inline", target: "_blank") %>
              </div>
            </div>
            <div class="flexbox vertical center">
              <div class="downloadable-cap">
                <%= image_tag("/images/anykey-cap-fuchsia.png") %>
              </div>
              <div class="cap-links">
                <%= link_to("EPS", image_path("/images/anykey-cap-fuchsia.eps"), target: "_blank", class: "inline") %> • <%= link_to("PNG", image_path("/images/anykey-cap-fuchsia.png"), class: "inline", target: "_blank") %>
              </div>
            </div>
          </div>
        </div>
        <div class="flexbox vertical start">
          <div class="section-title">
            Using the AnyKey logo
          </div>
          <div class="usage-section">
            <p>Here goes text about how to use the assets. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="page-section flexbox vertical stretch">
    <div class="inner flexbox vertical stretch">
      <div class="flexbox horizontal center wrap justify-space-around">
        <div class="flexbox vertical start">
          <div class="section-title">
            Color palette
          </div>
          <div class="colors-section">
            <p>Our palette is bright, bold, diverse, and full of super-sekrit meaning.</p>
            <p>New leaf green is AnyKey's signature color. We use it represent our welcoming brand and the most important quality we value: compassion.</p>
            <p>Orange tang stands for amplification and integrity. Fuchsia rush is the color of connection and respect. Electric cornflower signals empowerment and courage.</p>
            <p>Our tertiary colors like forest aurora, tiger lily, raisin ape, and big indigo are used to reinforce their counterparts in monochromatic pairings.
          </div>
        </div>
        <div class="swatches-section flexbox horizontal center wrap justify-space-around">
          <div class="swatch">
            <div class="color-sample bright-green">
            </div>
            <div class="description">
              <div class="color-title">
                New Leaf
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#2FC872</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">47, 200, 114</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">69, 0, 76, 0</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample dark-green">
            </div>
            <div class="description">
              <div class="color-title">
                Forest Aurora
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#005E4A</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">0, 94, 74</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">90, 39, 74, 31</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample bright-orange">
            </div>
            <div class="description">
              <div class="color-title">
                Orange Tang
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#F5902C</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">245, 144, 44</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">0, 52, 94, 0</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample dark-orange">
            </div>
            <div class="description">
              <div class="color-title">
                Tiger Lily
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#D1461C</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">209, 70, 28</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">13, 86, 100, 3</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample bright-fuchsia">
            </div>
            <div class="description">
              <div class="color-title">
                Fuchsia Rush
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#B11478</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">177, 20, 120</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">32, 100, 19, 1</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample dark-fuchsia">
            </div>
            <div class="description">
              <div class="color-title">
                Raisin Ape
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#57145B</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">87, 20 91</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">72, 100, 31, 25</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample bright-blue">
            </div>
            <div class="description">
              <div class="color-title">
                Electric Cornflower
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#3887F9</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">56, 135, 249</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">72, 47, 0, 0</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample dark-blue">
            </div>
            <div class="description">
              <div class="color-title">
                Big Indigo
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#2026CC</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">32, 38, 204</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">90, 83, 0, 0</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample light-black">
            </div>
            <div class="description">
              <div class="color-title">
                Deep Currant
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#2E2230</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">46, 34, 48</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">72, 77, 53, 63</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample black">
            </div>
            <div class="description">
              <div class="color-title">
                Intergalactic Black
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#160919</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">22, 9, 25</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">75, 76, 59, 79</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample light-gray">
            </div>
            <div class="description">
              <div class="color-title">
                Light Fog
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#D0CED1</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">208, 206, 209</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">17, 15, 13, 0</div>
              </div>
            </div>
          </div>
          <div class="swatch">
            <div class="color-sample gray">
            </div>
            <div class="description">
              <div class="color-title">
                Storm Gray
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">HEX</div>
                <div class="color-code">#84848C</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">RGB</div>
                <div class="color-code">132, 132, 140</div>
              </div>
              <div class="flexbox horizontal center">
                <div class="color-format">CMYK</div>
                <div class="color-code">51, 43, 37, 4</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>