<div class="flexbox horizontal end wrap justify-space-between">
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Reported Twitch Username</div>
    <div class="item-text flexbox horizontal center">
      <div class="inline-icon">&#xf1e8;</div><%= link_to(@report.reported_twitch_name, "https://twitch.tv/#{@report.reported_twitch_name}", class: "inline", target: "blank") %>
    </div>
  </div>
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Reported By</div>
    <div class="item-text flexbox horizontal center">
      <%= @report.reporter_email %> <%= @report.reporter_twitch_name.blank? ? '' : link_to(@report.reporter_twitch_name, "https://twitch.tv/#{@report.reporter_twitch_name}", class: "inline", target: "blank", style: "margin-left: 0.5em") %>      
    </div>
  </div>
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Stream Where Incident Occurred</div>
    <div class="item-text"><%= link_to(@report.incident_stream, "https://twitch.tv/#{@report.incident_stream}", class: "inline", target: "blank") %></div>
  </div>
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Date of Incident</div>
    <% if !@report.recommended_response.blank? %>
    <div class="item-text small"><%= l(@report.incident_occurred, format: "%b. %-d, %Y") %></div>
    <% else %>
    <div class="item-text empty">Not Specified</div>
    <% end %>    
  </div>
  <div class="report-item flexbox vertical start">
    <div class="item-title">Screenshot</div>
    <% if @report.image.present? %>
    <div id="report-screenshot" class="flexbox horizontal center" data-url="<%= report_image_src(@report, :original) %>">
      <%= image_tag(report_image_src(@report, :preview)) %>
      <div id="screenshot-overlay" style="display:none">
        <div class="action">
          Show Original
        </div>
      </div>
    </div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
  <div class="report-item flexbox vertical stretch">
    <div class="item-title">Incident Description</div>
    <div class="item-text small"><%= @report.incident_description %></div>
  </div>
  <div class="report-item flexbox vertical stretch">
    <div class="item-title">Reporter's Recommended Response</div>
    <% if !@report.recommended_response.blank? %>
    <div class="item-text small"><%= @report.recommended_response %></div>
    <% else %>
    <div class="item-text empty">None</div>
    <% end %>
  </div>
</div>

