<div class="flexbox horizontal start wrap justify-space-between">
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Reported Twitch Username</div>
    <div class="item-text flexbox horizontal center">
      <div class="inline-icon">&#xf1e8;</div>
      <%= @report.reported_twitch_name %>
      <% if @report.reported_twitch_id.present? %>
      <%= link_to(@report.reported_twitch_id, "https://twitch.tv/#{@report.reported_twitch_name}", class: "twitch_id", target: "blank") %>
      <% end %>
    </div>
  </div>
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Reported By</div>
    <div class="flexbox horizontal center wrap">
      <div class="item-text stacking">
        <%= @report.reporter_email %>
      </div>
      <% if @report.reporter_twitch_name.present? %>
      <div class="item-text stacking flexbox horizontal center">
        <div class="inline-icon">&#xf1e8;</div>
        <%= @report.reporter_twitch_name %>
        <% if @report.reporter_twitch_id.present? %>
        <%= link_to(@report.reporter_twitch_id, "https://twitch.tv/#{@report.reporter_twitch_name}", class: "twitch_id", target: "blank") %>
        <% end %>
      </div>
      <% end %>
      <% if @reporter_pledge.present? %>
      <div class="item-text stacking flexbox horizontal center">
        <%= image_tag("/images/anykey-cap.svg") %> <%= link_to(@reporter_pledge.full_name, pledge_path(@reporter_pledge, staff: "true", back: request.fullpath), class: "inline") %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Stream Where Incident Occurred</div>
    <div class="item-text flexbox horizontal center">
      <div class="inline-icon">&#xf1e8;</div>
      <%= @report.incident_stream %>
      <% if @report.incident_stream_twitch_id.present? %>
      <%= link_to(@report.incident_stream_twitch_id, "https://twitch.tv/#{@report.incident_stream}", class: "twitch_id", target: "blank") %>
      <% end %>
    </div>
  </div>
  <div class="report-item half-width flexbox vertical stretch">
    <div class="item-title">Date of Incident</div>
    <% if !@report.incident_occurred.blank? %>
    <div class="item-text small"><%= l(@report.incident_occurred, format: "%b. %-d, %Y") %></div>
    <% else %>
    <div class="item-text empty">Not Specified</div>
    <% end %>    
  </div>
</div>
