<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">Conduct Warning</div>
  <div class="flexbox horizontal center">
    <div class="panel-descriptor">
      Warned <%= l(@report.conduct_warning.created_at, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@report.reviewer.display_name, user_path(@report.reviewer)) %>]
    </div>
    <%= render(partial: "reports/watchable_toggle")%>
  </div>
</div>
<%= render(partial: "reports/identifiers") %>
<%= render(partial: "reports/materials") %>
<%= render(partial: "reports/associated_pledge") %>
<div class="flexbox horizontal start wrap justify-space-between">
  <div class="report-item flexbox vertical stretch">
    <div class="item-title">Reason for Warning</div>
    <div class="item-text small"><%= @report.conduct_warning.reason%></div>
  </div>
</div>
<div class="report-buttons flexbox horizontal-reverse wrap-reverse center">
  <div class="warned-button button">Warned</div>
  <%= link_to('Back', params[:back].present? ? params[:back] : reports_path, class: "back-button mini button") %>
</div>
<%= render(partial: "reports/related_reports") %>
<%= render(partial: "reports/comments")%>
