<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">Revoked Badge</div>
  <div class="panel-descriptor">
    Revoked <%= l(@report.revocation.created_at, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@report.reviewer.display_name, user_path(@report.reviewer)) %>]
  </div>
</div>
<%= render(partial: "reports/identifiers") %>
<%= render(partial: "reports/materials") %>
<div class="flexbox horizontal start wrap justify-space-between">
  <div class="report-item flexbox vertical stretch">
    <div class="item-title">Reason for Revocation</div>
    <div class="item-text small"><%= @report.revocation.reason%></div>
  </div>
</div>
<div class="report-buttons flexbox horizontal-reverse wrap-reverse center">
  <div class="revoked-button button">Revoked</div>
  <%= link_to('Back', params[:back].present? ? params[:back] : reports_path, class: "back-button mini button") %>
</div>
<%= render(partial: "reports/associated_pledge") %>
