<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">Conduct Warning</div>
  <div class="panel-descriptor">
    Warned <%= l(@report.conduct_warning.created_at, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@report.reviewer.display_name, user_path(@report.reviewer)) %>]
  </div>
</div>
<%= render(partial: "reports/identifiers") %>
<%= render(partial: "reports/materials") %>
<div class="report-buttons flexbox horizontal-reverse wrap-reverse center">
  <div class="resolved-button button">Warned</div>
  <%= link_to('Back', params[:back].present? ? params[:back] : reports_path, class: "back-button mini button") %>
</div>
<%= render(partial: "reports/associated_pledge") %>
