<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">Spam Badge</div>
  <div class="flexbox horizontal center">
    <div class="panel-descriptor">
      Spam <%= l(@report.created_at, format: "%b. %-d, %Y · %-l:%M%P") %>
    </div>
    <%= render(partial: "reports/watchable_toggle")%>
  </div>
</div>
<%= render(partial: "reports/identifiers") %>
<%= render(partial: "reports/materials") %>
<%= render(partial: "reports/associated_pledge") %>

<%= render(partial: "reports/reporter_details") %>
<%= render(partial: "reports/related_spam") %>
<%= render(partial: "reports/related_reports") %>
<%= render(partial: "reports/comments")%>
