<div class="flexbox horizontal center wrap justify-space-between">
  <div class="panel-title">Revoked Badge</div>
  <div class="panel-descriptor">
    Revoked <%= l(@report.revocation.created_at, format: "%b. %-d, %Y · %-l:%M%P") %> [<%= link_to(@report.reviewer.display_name, user_path(@report.reviewer)) %>]
  </div>
</div>
<%= render(partial: "reports/body") %>
<div class="report-facts flexbox vertical stretch">
  <hr class="spacer">
  Keybot says: <%= @message %>
</div>
<div class="report-buttons flexbox horizontal-reverse wrap-reverse center">
  <div class="resolved-button button">Revoked</div>
  <%= link_to('Back', params[:back].present? ? params[:back] : reports_path, class: "back-button mini button") %>
</div>
